$icomoon-font-family: "icvp" !default;
$icomoon-font-path: "fonts" !default;

$vp-px: "\e901";
$vp-accessible-icon: "\e902";
$vp-accusoft: "\e903";
$vp-acquisitions-incorporated: "\e904";
$vp-address-book: "\e905";
$vp-address-book-solid: "\e906";
$vp-address-card: "\e907";
$vp-address-card-solid: "\e908";
$vp-adjust-solid: "\e909";
$vp-adn: "\e90a";
$vp-adobe: "\e90b";
$vp-ad-solid: "\e90c";
$vp-adversal: "\e90d";
$vp-affiliatetheme: "\e90e";
$vp-airbnb: "\e90f";
$vp-air-freshener-solid: "\e910";
$vp-algolia: "\e911";
$vp-align-center-solid: "\e912";
$vp-align-justify-solid: "\e913";
$vp-align-left-solid: "\e914";
$vp-align-right-solid: "\e915";
$vp-alipay: "\e916";
$vp-allergies-solid: "\e917";
$vp-amazon: "\e918";
$vp-amazon-pay: "\e919";
$vp-ambulance-solid: "\e91a";
$vp-american-sign-language-interpreting-solid: "\e91b";
$vp-amilia: "\e91c";
$vp-anchor-solid: "\e91d";
$vp-android: "\e91e";
$vp-angellist: "\e91f";
$vp-angle-double-down-solid: "\e920";
$vp-angle-double-left-solid: "\e921";
$vp-angle-double-right-solid: "\e922";
$vp-angle-double-up-solid: "\e923";
$vp-angle-down-solid: "\e924";
$vp-angle-left-solid: "\e925";
$vp-angle-right-solid: "\e926";
$vp-angle-up-solid: "\e927";
$vp-angry: "\e928";
$vp-angrycreative: "\e929";
$vp-angry-solid: "\e92a";
$vp-angular: "\e92b";
$vp-ankh-solid: "\e92c";
$vp-apper: "\e92d";
$vp-apple: "\e92e";
$vp-apple-alt-solid: "\e92f";
$vp-apple-pay: "\e930";
$vp-app-store: "\e931";
$vp-app-store-ios: "\e932";
$vp-archive-solid: "\e933";
$vp-archway-solid: "\e934";
$vp-arrow-alt-circle-down: "\e935";
$vp-arrow-alt-circle-down-solid: "\e936";
$vp-arrow-alt-circle-left: "\e937";
$vp-arrow-alt-circle-left-solid: "\e938";
$vp-arrow-alt-circle-right: "\e939";
$vp-arrow-alt-circle-right-solid: "\e93a";
$vp-arrow-alt-circle-up: "\e93b";
$vp-arrow-alt-circle-up-solid: "\e93c";
$vp-arrow-circle-down-solid: "\e93d";
$vp-arrow-circle-left-solid: "\e93e";
$vp-arrow-circle-right-solid: "\e93f";
$vp-arrow-circle-up-solid: "\e940";
$vp-arrow-down-solid: "\e941";
$vp-arrow-left-solid: "\e942";
$vp-arrow-right-solid: "\e943";
$vp-arrows-alt-h-solid: "\e944";
$vp-arrows-alt-solid: "\e945";
$vp-arrows-alt-v-solid: "\e946";
$vp-arrow-up-solid: "\e947";
$vp-artstation: "\e948";
$vp-assistive-listening-systems-solid: "\e949";
$vp-asterisk-solid: "\e94a";
$vp-asymmetrik: "\e94b";
$vp-atlassian: "\e94c";
$vp-atlas-solid: "\e94d";
$vp-atom-solid: "\e94e";
$vp-at-solid: "\e94f";
$vp-audible: "\e950";
$vp-audio-description-solid: "\e951";
$vp-autoprefixer: "\e952";
$vp-avianex: "\e953";
$vp-aviato: "\e954";
$vp-award-solid: "\e955";
$vp-aws: "\e956";
$vp-baby-carriage-solid: "\e957";
$vp-baby-solid: "\e958";
$vp-backspace-solid: "\e959";
$vp-backward-solid: "\e95a";
$vp-bacon-solid: "\e95b";
$vp-balance-scale-left-solid: "\e95c";
$vp-balance-scale-right-solid: "\e95d";
$vp-balance-scale-solid: "\e95e";
$vp-band-aid-solid: "\e95f";
$vp-bandcamp: "\e960";
$vp-ban-solid: "\e961";
$vp-barcode-solid: "\e962";
$vp-bars-solid: "\e963";
$vp-baseball-ball-solid: "\e964";
$vp-basketball-ball-solid: "\e965";
$vp-bath-solid: "\e966";
$vp-battery-empty-solid: "\e967";
$vp-battery-full-solid: "\e968";
$vp-battery-half-solid: "\e969";
$vp-battery-quarter-solid: "\e96a";
$vp-battery-three-quarters-solid: "\e96b";
$vp-battle-net: "\e96c";
$vp-bed-solid: "\e96d";
$vp-beer-solid: "\e96e";
$vp-behance: "\e96f";
$vp-behance-square: "\e970";
$vp-bell: "\e971";
$vp-bell-slash: "\e972";
$vp-bell-slash-solid: "\e973";
$vp-bell-solid: "\e974";
$vp-bezier-curve-solid: "\e975";
$vp-bible-solid: "\e976";
$vp-bicycle-solid: "\e977";
$vp-biking-solid: "\e978";
$vp-bimobject: "\e979";
$vp-binoculars-solid: "\e97a";
$vp-biohazard-solid: "\e97b";
$vp-birthday-cake-solid: "\e97c";
$vp-bitbucket: "\e97d";
$vp-bitcoin: "\e97e";
$vp-bity: "\e97f";
$vp-blackberry: "\e980";
$vp-black-tie: "\e981";
$vp-blender-phone-solid: "\e982";
$vp-blender-solid: "\e983";
$vp-blind-solid: "\e984";
$vp-blogger: "\e985";
$vp-blogger-b: "\e986";
$vp-blog-solid: "\e987";
$vp-bluetooth: "\e988";
$vp-bluetooth-b: "\e989";
$vp-bold-solid: "\e98a";
$vp-bolt-solid: "\e98b";
$vp-bomb-solid: "\e98c";
$vp-bone-solid: "\e98d";
$vp-bong-solid: "\e98e";
$vp-book-dead-solid: "\e98f";
$vp-bookmark: "\e990";
$vp-bookmark-solid: "\e991";
$vp-book-medical-solid: "\e992";
$vp-book-open-solid: "\e993";
$vp-book-reader-solid: "\e994";
$vp-book-solid: "\e995";
$vp-bootstrap: "\e996";
$vp-border-all-solid: "\e997";
$vp-border-none-solid: "\e998";
$vp-border-style-solid: "\e999";
$vp-bowling-ball-solid: "\e99a";
$vp-boxes-solid: "\e99b";
$vp-box-open-solid: "\e99c";
$vp-box-solid: "\e99d";
$vp-braille-solid: "\e99e";
$vp-brain-solid: "\e99f";
$vp-bread-slice-solid: "\e9a0";
$vp-briefcase-medical-solid: "\e9a1";
$vp-briefcase-solid: "\e9a2";
$vp-broadcast-tower-solid: "\e9a3";
$vp-broom-solid: "\e9a4";
$vp-brush-solid: "\e9a5";
$vp-btc: "\e9a6";
$vp-buffer: "\e9a7";
$vp-bug-solid: "\e9a8";
$vp-building: "\e9a9";
$vp-building-solid: "\e9aa";
$vp-bullhorn-solid: "\e9ab";
$vp-bullseye-solid: "\e9ac";
$vp-burn-solid: "\e9ad";
$vp-buromobelexperte: "\e9ae";
$vp-bus-alt-solid: "\e9af";
$vp-business-time-solid: "\e9b0";
$vp-bus-solid: "\e9b1";
$vp-buy-n-large: "\e9b2";
$vp-buysellads: "\e9b3";
$vp-calculator-solid: "\e9b4";
$vp-calendar: "\e9b5";
$vp-calendar-alt: "\e9b6";
$vp-calendar-alt-solid: "\e9b7";
$vp-calendar-check: "\e9b8";
$vp-calendar-check-solid: "\e9b9";
$vp-calendar-day-solid: "\e9ba";
$vp-calendar-minus: "\e9bb";
$vp-calendar-minus-solid: "\e9bc";
$vp-calendar-plus: "\e9bd";
$vp-calendar-plus-solid: "\e9be";
$vp-calendar-solid: "\e9bf";
$vp-calendar-times: "\e9c0";
$vp-calendar-times-solid: "\e9c1";
$vp-calendar-week-solid: "\e9c2";
$vp-camera-retro-solid: "\e9c3";
$vp-camera-solid: "\e9c4";
$vp-campground-solid: "\e9c5";
$vp-canadian-maple-leaf: "\e9c6";
$vp-candy-cane-solid: "\e9c7";
$vp-cannabis-solid: "\e9c8";
$vp-capsules-solid: "\e9c9";
$vp-car-alt-solid: "\e9ca";
$vp-car-battery-solid: "\e9cb";
$vp-car-crash-solid: "\e9cc";
$vp-caret-down-solid: "\e9cd";
$vp-caret-left-solid: "\e9ce";
$vp-caret-right-solid: "\e9cf";
$vp-caret-square-down: "\e9d0";
$vp-caret-square-down-solid: "\e9d1";
$vp-caret-square-left: "\e9d2";
$vp-caret-square-left-solid: "\e9d3";
$vp-caret-square-right: "\e9d4";
$vp-caret-square-right-solid: "\e9d5";
$vp-caret-square-up: "\e9d6";
$vp-caret-square-up-solid: "\e9d7";
$vp-caret-up-solid: "\e9d8";
$vp-carrot-solid: "\e9d9";
$vp-car-side-solid: "\e9da";
$vp-car-solid: "\e9db";
$vp-cart-arrow-down-solid: "\e9dc";
$vp-cart-plus-solid: "\e9dd";
$vp-cash-register-solid: "\e9de";
$vp-cat-solid: "\e9df";
$vp-cc-amazon-pay: "\e9e0";
$vp-cc-amex: "\e9e1";
$vp-cc-apple-pay: "\e9e2";
$vp-cc-diners-club: "\e9e3";
$vp-cc-discover: "\e9e4";
$vp-cc-jcb: "\e9e5";
$vp-cc-mastercard: "\e9e6";
$vp-cc-paypal: "\e9e7";
$vp-cc-stripe: "\e9e8";
$vp-cc-visa: "\e9e9";
$vp-centercode: "\e9ea";
$vp-centos: "\e9eb";
$vp-certificate-solid: "\e9ec";
$vp-chair-solid: "\e9ed";
$vp-chalkboard-solid: "\e9ee";
$vp-chalkboard-teacher-solid: "\e9ef";
$vp-charging-station-solid: "\e9f0";
$vp-chart-area-solid: "\e9f1";
$vp-chart-bar: "\e9f2";
$vp-chart-bar-solid: "\e9f3";
$vp-chart-line-solid: "\e9f4";
$vp-chart-pie-solid: "\e9f5";
$vp-check-circle: "\e9f6";
$vp-check-circle-solid: "\e9f7";
$vp-check-double-solid: "\e9f8";
$vp-check-solid: "\e9f9";
$vp-check-square: "\e9fa";
$vp-check-square-solid: "\e9fb";
$vp-cheese-solid: "\e9fc";
$vp-chess-bishop-solid: "\e9fd";
$vp-chess-board-solid: "\e9fe";
$vp-chess-king-solid: "\e9ff";
$vp-chess-knight-solid: "\ea00";
$vp-chess-pawn-solid: "\ea01";
$vp-chess-queen-solid: "\ea02";
$vp-chess-rook-solid: "\ea03";
$vp-chess-solid: "\ea04";
$vp-chevron-circle-down-solid: "\ea05";
$vp-chevron-circle-left-solid: "\ea06";
$vp-chevron-circle-right-solid: "\ea07";
$vp-chevron-circle-up-solid: "\ea08";
$vp-chevron-down-solid: "\ea09";
$vp-chevron-left-solid: "\ea0a";
$vp-chevron-right-solid: "\ea0b";
$vp-chevron-up-solid: "\ea0c";
$vp-child-solid: "\ea0d";
$vp-chrome: "\ea0e";
$vp-chromecast: "\ea0f";
$vp-church-solid: "\ea10";
$vp-circle: "\ea11";
$vp-circle-notch-solid: "\ea12";
$vp-circle-solid: "\ea13";
$vp-city-solid: "\ea14";
$vp-clinic-medical-solid: "\ea15";
$vp-clipboard: "\ea16";
$vp-clipboard-check-solid: "\ea17";
$vp-clipboard-list-solid: "\ea18";
$vp-clipboard-solid: "\ea19";
$vp-clock: "\ea1a";
$vp-clock-solid: "\ea1b";
$vp-clone: "\ea1c";
$vp-clone-solid: "\ea1d";
$vp-closed-captioning: "\ea1e";
$vp-closed-captioning-solid: "\ea1f";
$vp-cloud-download-alt-solid: "\ea20";
$vp-cloud-meatball-solid: "\ea21";
$vp-cloud-moon-rain-solid: "\ea22";
$vp-cloud-moon-solid: "\ea23";
$vp-cloud-rain-solid: "\ea24";
$vp-cloudscale: "\ea25";
$vp-cloud-showers-heavy-solid: "\ea26";
$vp-cloudsmith: "\ea27";
$vp-cloud-solid: "\ea28";
$vp-cloud-sun-rain-solid: "\ea29";
$vp-cloud-sun-solid: "\ea2a";
$vp-cloud-upload-alt-solid: "\ea2b";
$vp-cloudversify: "\ea2c";
$vp-cocktail-solid: "\ea2d";
$vp-code-branch-solid: "\ea2e";
$vp-codepen: "\ea2f";
$vp-code-solid: "\ea30";
$vp-codiepie: "\ea31";
$vp-coffee-solid: "\ea32";
$vp-cog-solid: "\ea33";
$vp-cogs-solid: "\ea34";
$vp-coins-solid: "\ea35";
$vp-columns-solid: "\ea36";
$vp-comment: "\ea37";
$vp-comment-alt: "\ea38";
$vp-comment-alt-solid: "\ea39";
$vp-comment-dollar-solid: "\ea3a";
$vp-comment-dots: "\ea3b";
$vp-comment-dots-solid: "\ea3c";
$vp-comment-medical-solid: "\ea3d";
$vp-comments: "\ea3e";
$vp-comments-dollar-solid: "\ea3f";
$vp-comment-slash-solid: "\ea40";
$vp-comment-solid: "\ea41";
$vp-comments-solid: "\ea42";
$vp-compact-disc-solid: "\ea43";
$vp-compass: "\ea44";
$vp-compass-solid: "\ea45";
$vp-compress-arrows-alt-solid: "\ea46";
$vp-compress-solid: "\ea47";
$vp-concierge-bell-solid: "\ea48";
$vp-confluence: "\ea49";
$vp-connectdevelop: "\ea4a";
$vp-contao: "\ea4b";
$vp-cookie-bite-solid: "\ea4c";
$vp-cookie-solid: "\ea4d";
$vp-copy: "\ea4e";
$vp-copyright: "\ea4f";
$vp-copyright-solid: "\ea50";
$vp-copy-solid: "\ea51";
$vp-cotton-bureau: "\ea52";
$vp-couch-solid: "\ea53";
$vp-cpanel: "\ea54";
$vp-creative-commons: "\ea55";
$vp-creative-commons-by: "\ea56";
$vp-creative-commons-nc: "\ea57";
$vp-creative-commons-nc-eu: "\ea58";
$vp-creative-commons-nc-jp: "\ea59";
$vp-creative-commons-nd: "\ea5a";
$vp-creative-commons-pd: "\ea5b";
$vp-creative-commons-pd-alt: "\ea5c";
$vp-creative-commons-remix: "\ea5d";
$vp-creative-commons-sa: "\ea5e";
$vp-creative-commons-sampling: "\ea5f";
$vp-creative-commons-sampling-plus: "\ea60";
$vp-creative-commons-share: "\ea61";
$vp-creative-commons-zero: "\ea62";
$vp-credit-card: "\ea63";
$vp-credit-card-solid: "\ea64";
$vp-critical-role: "\ea65";
$vp-crop-alt-solid: "\ea66";
$vp-crop-solid: "\ea67";
$vp-crosshairs-solid: "\ea68";
$vp-cross-solid: "\ea69";
$vp-crown-solid: "\ea6a";
$vp-crow-solid: "\ea6b";
$vp-crutch-solid: "\ea6c";
$vp-css3: "\ea6d";
$vp-css3-alt: "\ea6e";
$vp-cube-solid: "\ea6f";
$vp-cubes-solid: "\ea70";
$vp-cut-solid: "\ea71";
$vp-cuttlefish: "\ea72";
$vp-d-and-d: "\ea73";
$vp-d-and-d-beyond: "\ea74";
$vp-dashcube: "\ea75";
$vp-database-solid: "\ea76";
$vp-deaf-solid: "\ea77";
$vp-delicious: "\ea78";
$vp-democrat-solid: "\ea79";
$vp-deploydog: "\ea7a";
$vp-deskpro: "\ea7b";
$vp-desktop-solid: "\ea7c";
$vp-dev: "\ea7d";
$vp-deviantart: "\ea7e";
$vp-dharmachakra-solid: "\ea7f";
$vp-dhl: "\ea80";
$vp-diagnoses-solid: "\ea81";
$vp-diaspora: "\ea82";
$vp-dice-d6-solid: "\ea83";
$vp-dice-d20-solid: "\ea84";
$vp-dice-five-solid: "\ea85";
$vp-dice-four-solid: "\ea86";
$vp-dice-one-solid: "\ea87";
$vp-dice-six-solid: "\ea88";
$vp-dice-solid: "\ea89";
$vp-dice-three-solid: "\ea8a";
$vp-dice-two-solid: "\ea8b";
$vp-digg: "\ea8c";
$vp-digital-ocean: "\ea8d";
$vp-digital-tachograph-solid: "\ea8e";
$vp-directions-solid: "\ea8f";
$vp-discord: "\ea90";
$vp-discourse: "\ea91";
$vp-divide-solid: "\ea92";
$vp-dizzy: "\ea93";
$vp-dizzy-solid: "\ea94";
$vp-dna-solid: "\ea95";
$vp-dochub: "\ea96";
$vp-docker: "\ea97";
$vp-dog-solid: "\ea98";
$vp-dollar-sign-solid: "\ea99";
$vp-dolly-flatbed-solid: "\ea9a";
$vp-dolly-solid: "\ea9b";
$vp-donate-solid: "\ea9c";
$vp-door-closed-solid: "\ea9d";
$vp-door-open-solid: "\ea9e";
$vp-dot-circle: "\ea9f";
$vp-dot-circle-solid: "\eaa0";
$vp-dove-solid: "\eaa1";
$vp-download-solid: "\eaa2";
$vp-draft2digital: "\eaa3";
$vp-drafting-compass-solid: "\eaa4";
$vp-dragon-solid: "\eaa5";
$vp-draw-polygon-solid: "\eaa6";
$vp-dribbble: "\eaa7";
$vp-dribbble-square: "\eaa8";
$vp-dropbox: "\eaa9";
$vp-drum-solid: "\eaaa";
$vp-drum-steelpan-solid: "\eaab";
$vp-drumstick-bite-solid: "\eaac";
$vp-drupal: "\eaad";
$vp-dumbbell-solid: "\eaae";
$vp-dumpster-fire-solid: "\eaaf";
$vp-dumpster-solid: "\eab0";
$vp-dungeon-solid: "\eab1";
$vp-dyalog: "\eab2";
$vp-earlybirds: "\eab3";
$vp-ebay: "\eab4";
$vp-edge: "\eab5";
$vp-edit: "\eab6";
$vp-edit-solid: "\eab7";
$vp-egg-solid: "\eab8";
$vp-eject-solid: "\eab9";
$vp-elementor: "\eaba";
$vp-ellipsis-h-solid: "\eabb";
$vp-ellipsis-v-solid: "\eabc";
$vp-ello: "\eabd";
$vp-ember: "\eabe";
$vp-empire: "\eabf";
$vp-envelope: "\eac0";
$vp-envelope-open: "\eac1";
$vp-envelope-open-solid: "\eac2";
$vp-envelope-open-text-solid: "\eac3";
$vp-envelope-solid: "\eac4";
$vp-envelope-square-solid: "\eac5";
$vp-envira: "\eac6";
$vp-equals-solid: "\eac7";
$vp-eraser-solid: "\eac8";
$vp-erlang: "\eac9";
$vp-ethereum: "\eaca";
$vp-ethernet-solid: "\eacb";
$vp-etsy: "\eacc";
$vp-euro-sign-solid: "\eacd";
$vp-evernote: "\eace";
$vp-exchange-alt-solid: "\eacf";
$vp-exclamation-circle-solid: "\ead0";
$vp-exclamation-solid: "\ead1";
$vp-exclamation-triangle-solid: "\ead2";
$vp-expand-arrows-alt-solid: "\ead3";
$vp-expand-solid: "\ead4";
$vp-expeditedssl: "\ead5";
$vp-external-link-alt-solid: "\ead6";
$vp-external-link-square-alt-solid: "\ead7";
$vp-eye: "\ead8";
$vp-eye-dropper-solid: "\ead9";
$vp-eye-slash: "\eada";
$vp-eye-slash-solid: "\eadb";
$vp-eye-solid: "\eadc";
$vp-facebook: "\eadd";
$vp-facebook-f: "\eade";
$vp-facebook-messenger: "\eadf";
$vp-facebook-square: "\eae0";
$vp-fan-solid: "\eae1";
$vp-fantasy-flight-games: "\eae2";
$vp-fast-backward-solid: "\eae3";
$vp-fast-forward-solid: "\eae4";
$vp-fax-solid: "\eae5";
$vp-feather-alt-solid: "\eae6";
$vp-feather-solid: "\eae7";
$vp-fedex: "\eae8";
$vp-fedora: "\eae9";
$vp-female-solid: "\eaea";
$vp-fighter-jet-solid: "\eaeb";
$vp-figma: "\eaec";
$vp-file: "\eaed";
$vp-file-alt: "\eaee";
$vp-file-alt-solid: "\eaef";
$vp-file-archive: "\eaf0";
$vp-file-archive-solid: "\eaf1";
$vp-file-audio: "\eaf2";
$vp-file-audio-solid: "\eaf3";
$vp-file-code: "\eaf4";
$vp-file-code-solid: "\eaf5";
$vp-file-contract-solid: "\eaf6";
$vp-file-csv-solid: "\eaf7";
$vp-file-download-solid: "\eaf8";
$vp-file-excel: "\eaf9";
$vp-file-excel-solid: "\eafa";
$vp-file-export-solid: "\eafb";
$vp-file-image: "\eafc";
$vp-file-image-solid: "\eafd";
$vp-file-import-solid: "\eafe";
$vp-file-invoice-dollar-solid: "\eaff";
$vp-file-invoice-solid: "\eb00";
$vp-file-medical-alt-solid: "\eb01";
$vp-file-medical-solid: "\eb02";
$vp-file-pdf: "\eb03";
$vp-file-pdf-solid: "\eb04";
$vp-file-powerpoint: "\eb05";
$vp-file-powerpoint-solid: "\eb06";
$vp-file-prescription-solid: "\eb07";
$vp-file-signature-solid: "\eb08";
$vp-file-solid: "\eb09";
$vp-file-upload-solid: "\eb0a";
$vp-file-video: "\eb0b";
$vp-file-video-solid: "\eb0c";
$vp-file-word: "\eb0d";
$vp-file-word-solid: "\eb0e";
$vp-fill-drip-solid: "\eb0f";
$vp-fill-solid: "\eb10";
$vp-film-solid: "\eb11";
$vp-filter-solid: "\eb12";
$vp-fingerprint-solid: "\eb13";
$vp-fire-alt-solid: "\eb14";
$vp-fire-extinguisher-solid: "\eb15";
$vp-firefox: "\eb16";
$vp-fire-solid: "\eb17";
$vp-first-aid-solid: "\eb18";
$vp-firstdraft: "\eb19";
$vp-first-order: "\eb1a";
$vp-first-order-alt: "\eb1b";
$vp-fish-solid: "\eb1c";
$vp-fist-raised-solid: "\eb1d";
$vp-flag: "\eb1e";
$vp-flag-checkered-solid: "\eb1f";
$vp-flag-solid: "\eb20";
$vp-flag-usa-solid: "\eb21";
$vp-flask-solid: "\eb22";
$vp-flickr: "\eb23";
$vp-flipboard: "\eb24";
$vp-flushed: "\eb25";
$vp-flushed-solid: "\eb26";
$vp-fly: "\eb27";
$vp-folder: "\eb28";
$vp-folder-minus-solid: "\eb29";
$vp-folder-open: "\eb2a";
$vp-folder-open-solid: "\eb2b";
$vp-folder-plus-solid: "\eb2c";
$vp-folder-solid: "\eb2d";
$vp-font-awesome: "\eb2e";
$vp-font-awesome-alt: "\eb2f";
$vp-font-awesome-flag: "\eb30";
$vp-fonticons: "\eb31";
$vp-fonticons-fi: "\eb32";
$vp-font-solid: "\eb33";
$vp-football-ball-solid: "\eb34";
$vp-fort-awesome: "\eb35";
$vp-fort-awesome-alt: "\eb36";
$vp-forumbee: "\eb37";
$vp-forward-solid: "\eb38";
$vp-foursquare: "\eb39";
$vp-freebsd: "\eb3a";
$vp-free-code-camp: "\eb3b";
$vp-frog-solid: "\eb3c";
$vp-frown: "\eb3d";
$vp-frown-open: "\eb3e";
$vp-frown-open-solid: "\eb3f";
$vp-frown-solid: "\eb40";
$vp-fulcrum: "\eb41";
$vp-funnel-dollar-solid: "\eb42";
$vp-futbol: "\eb43";
$vp-futbol-solid: "\eb44";
$vp-galactic-republic: "\eb45";
$vp-galactic-senate: "\eb46";
$vp-gamepad-solid: "\eb47";
$vp-gas-pump-solid: "\eb48";
$vp-gavel-solid: "\eb49";
$vp-gem: "\eb4a";
$vp-gem-solid: "\eb4b";
$vp-genderless-solid: "\eb4c";
$vp-get-pocket: "\eb4d";
$vp-gg: "\eb4e";
$vp-gg-circle: "\eb4f";
$vp-ghost-solid: "\eb50";
$vp-gift-solid: "\eb51";
$vp-gifts-solid: "\eb52";
$vp-git: "\eb53";
$vp-git-alt: "\eb54";
$vp-github: "\eb55";
$vp-github-alt: "\eb56";
$vp-github-square: "\eb57";
$vp-gitkraken: "\eb58";
$vp-gitlab: "\eb59";
$vp-git-square: "\eb5a";
$vp-gitter: "\eb5b";
$vp-glass-cheers-solid: "\eb5c";
$vp-glasses-solid: "\eb5d";
$vp-glass-martini-alt-solid: "\eb5e";
$vp-glass-martini-solid: "\eb5f";
$vp-glass-whiskey-solid: "\eb60";
$vp-glide: "\eb61";
$vp-glide-g: "\eb62";
$vp-globe-africa-solid: "\eb63";
$vp-globe-americas-solid: "\eb64";
$vp-globe-asia-solid: "\eb65";
$vp-globe-europe-solid: "\eb66";
$vp-globe-solid: "\eb67";
$vp-gofore: "\eb68";
$vp-golf-ball-solid: "\eb69";
$vp-goodreads: "\eb6a";
$vp-goodreads-g: "\eb6b";
$vp-google: "\eb6c";
$vp-google-drive: "\eb6d";
$vp-google-play: "\eb6e";
$vp-google-plus: "\eb6f";
$vp-google-plus-g: "\eb70";
$vp-google-plus-square: "\eb71";
$vp-google-wallet: "\eb72";
$vp-gopuram-solid: "\eb73";
$vp-graduation-cap-solid: "\eb74";
$vp-gratipay: "\eb75";
$vp-grav: "\eb76";
$vp-greater-than-equal-solid: "\eb77";
$vp-greater-than-solid: "\eb78";
$vp-grimace: "\eb79";
$vp-grimace-solid: "\eb7a";
$vp-grin: "\eb7b";
$vp-grin-alt: "\eb7c";
$vp-grin-alt-solid: "\eb7d";
$vp-grin-beam: "\eb7e";
$vp-grin-beam-solid: "\eb7f";
$vp-grin-beam-sweat: "\eb80";
$vp-grin-beam-sweat-solid: "\eb81";
$vp-grin-hearts: "\eb82";
$vp-grin-hearts-solid: "\eb83";
$vp-grin-solid: "\eb84";
$vp-grin-squint: "\eb85";
$vp-grin-squint-solid: "\eb86";
$vp-grin-squint-tears: "\eb87";
$vp-grin-squint-tears-solid: "\eb88";
$vp-grin-stars: "\eb89";
$vp-grin-stars-solid: "\eb8a";
$vp-grin-tears: "\eb8b";
$vp-grin-tears-solid: "\eb8c";
$vp-grin-tongue: "\eb8d";
$vp-grin-tongue-solid: "\eb8e";
$vp-grin-tongue-squint: "\eb8f";
$vp-grin-tongue-squint-solid: "\eb90";
$vp-grin-tongue-wink: "\eb91";
$vp-grin-tongue-wink-solid: "\eb92";
$vp-grin-wink: "\eb93";
$vp-grin-wink-solid: "\eb94";
$vp-gripfire: "\eb95";
$vp-grip-horizontal-solid: "\eb96";
$vp-grip-lines-solid: "\eb97";
$vp-grip-lines-vertical-solid: "\eb98";
$vp-grip-vertical-solid: "\eb99";
$vp-grunt: "\eb9a";
$vp-guitar-solid: "\eb9b";
$vp-gulp: "\eb9c";
$vp-hacker-news: "\eb9d";
$vp-hacker-news-square: "\eb9e";
$vp-hackerrank: "\eb9f";
$vp-hamburger-solid: "\eba0";
$vp-hammer-solid: "\eba1";
$vp-hamsa-solid: "\eba2";
$vp-hand-holding-heart-solid: "\eba3";
$vp-hand-holding-solid: "\eba4";
$vp-hand-holding-usd-solid: "\eba5";
$vp-hand-lizard: "\eba6";
$vp-hand-lizard-solid: "\eba7";
$vp-hand-middle-finger-solid: "\eba8";
$vp-hand-paper: "\eba9";
$vp-hand-paper-solid: "\ebaa";
$vp-hand-peace: "\ebab";
$vp-hand-peace-solid: "\ebac";
$vp-hand-point-down: "\ebad";
$vp-hand-point-down-solid: "\ebae";
$vp-hand-pointer: "\ebaf";
$vp-hand-pointer-solid: "\ebb0";
$vp-hand-point-left: "\ebb1";
$vp-hand-point-left-solid: "\ebb2";
$vp-hand-point-right: "\ebb3";
$vp-hand-point-right-solid: "\ebb4";
$vp-hand-point-up: "\ebb5";
$vp-hand-point-up-solid: "\ebb6";
$vp-hand-rock: "\ebb7";
$vp-hand-rock-solid: "\ebb8";
$vp-hand-scissors: "\ebb9";
$vp-hand-scissors-solid: "\ebba";
$vp-handshake: "\ebbb";
$vp-handshake-solid: "\ebbc";
$vp-hands-helping-solid: "\ebbd";
$vp-hand-spock: "\ebbe";
$vp-hand-spock-solid: "\ebbf";
$vp-hands-solid: "\ebc0";
$vp-hanukiah-solid: "\ebc1";
$vp-hard-hat-solid: "\ebc2";
$vp-hashtag-solid: "\ebc3";
$vp-hat-cowboy-side-solid: "\ebc4";
$vp-hat-cowboy-solid: "\ebc5";
$vp-hat-wizard-solid: "\ebc6";
$vp-haykal-solid: "\ebc7";
$vp-hdd: "\ebc8";
$vp-hdd-solid: "\ebc9";
$vp-heading-solid: "\ebca";
$vp-headphones-alt-solid: "\ebcb";
$vp-headphones-solid: "\ebcc";
$vp-headset-solid: "\ebcd";
$vp-heart: "\ebce";
$vp-heartbeat-solid: "\ebcf";
$vp-heart-broken-solid: "\ebd0";
$vp-heart-solid: "\ebd1";
$vp-helicopter-solid: "\ebd2";
$vp-highlighter-solid: "\ebd3";
$vp-hiking-solid: "\ebd4";
$vp-hippo-solid: "\ebd5";
$vp-hips: "\ebd6";
$vp-hire-a-helper: "\ebd7";
$vp-history-solid: "\ebd8";
$vp-hockey-puck-solid: "\ebd9";
$vp-holly-berry-solid: "\ebda";
$vp-home-solid: "\ebdb";
$vp-hooli: "\ebdc";
$vp-hornbill: "\ebdd";
$vp-horse-head-solid: "\ebde";
$vp-horse-solid: "\ebdf";
$vp-hospital: "\ebe0";
$vp-hospital-alt-solid: "\ebe1";
$vp-hospital-solid: "\ebe2";
$vp-hospital-symbol-solid: "\ebe3";
$vp-hotdog-solid: "\ebe4";
$vp-hotel-solid: "\ebe5";
$vp-hotjar: "\ebe6";
$vp-hot-tub-solid: "\ebe7";
$vp-hourglass: "\ebe8";
$vp-hourglass-end-solid: "\ebe9";
$vp-hourglass-half-solid: "\ebea";
$vp-hourglass-solid: "\ebeb";
$vp-hourglass-start-solid: "\ebec";
$vp-house-damage-solid: "\ebed";
$vp-houzz: "\ebee";
$vp-hryvnia-solid: "\ebef";
$vp-h-square-solid: "\ebf0";
$vp-html5: "\ebf1";
$vp-hubspot: "\ebf2";
$vp-ice-cream-solid: "\ebf3";
$vp-icicles-solid: "\ebf4";
$vp-icons-solid: "\ebf5";
$vp-i-cursor-solid: "\ebf6";
$vp-id-badge: "\ebf7";
$vp-id-badge-solid: "\ebf8";
$vp-id-card: "\ebf9";
$vp-id-card-alt-solid: "\ebfa";
$vp-id-card-solid: "\ebfb";
$vp-igloo-solid: "\ebfc";
$vp-image: "\ebfd";
$vp-images: "\ebfe";
$vp-image-solid: "\ebff";
$vp-images-solid: "\ec00";
$vp-imdb: "\ec01";
$vp-inbox-solid: "\ec02";
$vp-indent-solid: "\ec03";
$vp-industry-solid: "\ec04";
$vp-infinity-solid: "\ec05";
$vp-info-circle-solid: "\ec06";
$vp-info-solid: "\ec07";
$vp-instagram: "\ec08";
$vp-intercom: "\ec09";
$vp-internet-explorer: "\ec0a";
$vp-invision: "\ec0b";
$vp-ioxhost: "\ec0c";
$vp-italic-solid: "\ec0d";
$vp-itch-io: "\ec0e";
$vp-itunes: "\ec0f";
$vp-itunes-note: "\ec10";
$vp-java: "\ec11";
$vp-jedi-order: "\ec12";
$vp-jedi-solid: "\ec13";
$vp-jenkins: "\ec14";
$vp-jira: "\ec15";
$vp-joget: "\ec16";
$vp-joint-solid: "\ec17";
$vp-joomla: "\ec18";
$vp-journal-whills-solid: "\ec19";
$vp-js: "\ec1a";
$vp-jsfiddle: "\ec1b";
$vp-js-square: "\ec1c";
$vp-kaaba-solid: "\ec1d";
$vp-kaggle: "\ec1e";
$vp-keybase: "\ec1f";
$vp-keyboard: "\ec20";
$vp-keyboard-solid: "\ec21";
$vp-keycdn: "\ec22";
$vp-key-solid: "\ec23";
$vp-khanda-solid: "\ec24";
$vp-kickstarter: "\ec25";
$vp-kickstarter-k: "\ec26";
$vp-kiss: "\ec27";
$vp-kiss-beam: "\ec28";
$vp-kiss-beam-solid: "\ec29";
$vp-kiss-solid: "\ec2a";
$vp-kiss-wink-heart: "\ec2b";
$vp-kiss-wink-heart-solid: "\ec2c";
$vp-kiwi-bird-solid: "\ec2d";
$vp-korvue: "\ec2e";
$vp-landmark-solid: "\ec2f";
$vp-language-solid: "\ec30";
$vp-laptop-code-solid: "\ec31";
$vp-laptop-medical-solid: "\ec32";
$vp-laptop-solid: "\ec33";
$vp-laravel: "\ec34";
$vp-lastfm: "\ec35";
$vp-lastfm-square: "\ec36";
$vp-laugh: "\ec37";
$vp-laugh-beam: "\ec38";
$vp-laugh-beam-solid: "\ec39";
$vp-laugh-solid: "\ec3a";
$vp-laugh-squint: "\ec3b";
$vp-laugh-squint-solid: "\ec3c";
$vp-laugh-wink: "\ec3d";
$vp-laugh-wink-solid: "\ec3e";
$vp-layer-group-solid: "\ec3f";
$vp-leaf-solid: "\ec40";
$vp-leanpub: "\ec41";
$vp-lemon: "\ec42";
$vp-lemon-solid: "\ec43";
$vp-less: "\ec44";
$vp-less-than-equal-solid: "\ec45";
$vp-less-than-solid: "\ec46";
$vp-level-down-alt-solid: "\ec47";
$vp-level-up-alt-solid: "\ec48";
$vp-life-ring: "\ec49";
$vp-life-ring-solid: "\ec4a";
$vp-lightbulb: "\ec4b";
$vp-lightbulb-solid: "\ec4c";
$vp-line: "\ec4d";
$vp-linkedin: "\ec4e";
$vp-linkedin-in: "\ec4f";
$vp-link-solid: "\ec50";
$vp-linode: "\ec51";
$vp-linux: "\ec52";
$vp-lira-sign-solid: "\ec53";
$vp-list-alt: "\ec54";
$vp-list-alt-solid: "\ec55";
$vp-list-ol-solid: "\ec56";
$vp-list-solid: "\ec57";
$vp-list-ul-solid: "\ec58";
$vp-location-arrow-solid: "\ec59";
$vp-lock-open-solid: "\ec5a";
$vp-lock-solid: "\ec5b";
$vp-long-arrow-alt-down-solid: "\ec5c";
$vp-long-arrow-alt-left-solid: "\ec5d";
$vp-long-arrow-alt-right-solid: "\ec5e";
$vp-long-arrow-alt-up-solid: "\ec5f";
$vp-low-vision-solid: "\ec60";
$vp-luggage-cart-solid: "\ec61";
$vp-lyft: "\ec62";
$vp-magento: "\ec63";
$vp-magic-solid: "\ec64";
$vp-magnet-solid: "\ec65";
$vp-mail-bulk-solid: "\ec66";
$vp-mailchimp: "\ec67";
$vp-male-solid: "\ec68";
$vp-mandalorian: "\ec69";
$vp-map: "\ec6a";
$vp-map-marked-alt-solid: "\ec6b";
$vp-map-marked-solid: "\ec6c";
$vp-map-marker-alt-solid: "\ec6d";
$vp-map-marker-solid: "\ec6e";
$vp-map-pin-solid: "\ec6f";
$vp-map-signs-solid: "\ec70";
$vp-map-solid: "\ec71";
$vp-markdown: "\ec72";
$vp-marker-solid: "\ec73";
$vp-mars-double-solid: "\ec74";
$vp-mars-solid: "\ec75";
$vp-mars-stroke-h-solid: "\ec76";
$vp-mars-stroke-solid: "\ec77";
$vp-mars-stroke-v-solid: "\ec78";
$vp-mask-solid: "\ec79";
$vp-mastodon: "\ec7a";
$vp-maxcdn: "\ec7b";
$vp-mdb: "\ec7c";
$vp-medal-solid: "\ec7d";
$vp-medapps: "\ec7e";
$vp-medium: "\ec7f";
$vp-medium-m: "\ec80";
$vp-medkit-solid: "\ec81";
$vp-medrt: "\ec82";
$vp-meetup: "\ec83";
$vp-megaport: "\ec84";
$vp-meh: "\ec85";
$vp-meh-blank: "\ec86";
$vp-meh-blank-solid: "\ec87";
$vp-meh-rolling-eyes: "\ec88";
$vp-meh-rolling-eyes-solid: "\ec89";
$vp-meh-solid: "\ec8a";
$vp-memory-solid: "\ec8b";
$vp-mendeley: "\ec8c";
$vp-menorah-solid: "\ec8d";
$vp-mercury-solid: "\ec8e";
$vp-meteor-solid: "\ec8f";
$vp-microchip-solid: "\ec90";
$vp-microphone-alt-slash-solid: "\ec91";
$vp-microphone-alt-solid: "\ec92";
$vp-microphone-slash-solid: "\ec93";
$vp-microphone-solid: "\ec94";
$vp-microscope-solid: "\ec95";
$vp-microsoft: "\ec96";
$vp-minus-circle-solid: "\ec97";
$vp-minus-solid: "\ec98";
$vp-minus-square: "\ec99";
$vp-minus-square-solid: "\ec9a";
$vp-mitten-solid: "\ec9b";
$vp-mix: "\ec9c";
$vp-mixcloud: "\ec9d";
$vp-mizuni: "\ec9e";
$vp-mobile-alt-solid: "\ec9f";
$vp-mobile-solid: "\eca0";
$vp-modx: "\eca1";
$vp-monero: "\eca2";
$vp-money-bill-alt: "\eca3";
$vp-money-bill-alt-solid: "\eca4";
$vp-money-bill-solid: "\eca5";
$vp-money-bill-wave-alt-solid: "\eca6";
$vp-money-bill-wave-solid: "\eca7";
$vp-money-check-alt-solid: "\eca8";
$vp-money-check-solid: "\eca9";
$vp-monument-solid: "\ecaa";
$vp-moon: "\ecab";
$vp-moon-solid: "\ecac";
$vp-mortar-pestle-solid: "\ecad";
$vp-mosque-solid: "\ecae";
$vp-motorcycle-solid: "\ecaf";
$vp-mountain-solid: "\ecb0";
$vp-mouse-pointer-solid: "\ecb1";
$vp-mouse-solid: "\ecb2";
$vp-mug-hot-solid: "\ecb3";
$vp-music-solid: "\ecb4";
$vp-napster: "\ecb5";
$vp-neos: "\ecb6";
$vp-network-wired-solid: "\ecb7";
$vp-neuter-solid: "\ecb8";
$vp-newspaper: "\ecb9";
$vp-newspaper-solid: "\ecba";
$vp-nimblr: "\ecbb";
$vp-node: "\ecbc";
$vp-node-js: "\ecbd";
$vp-not-equal-solid: "\ecbe";
$vp-notes-medical-solid: "\ecbf";
$vp-npm: "\ecc0";
$vp-ns8: "\ecc1";
$vp-nutritionix: "\ecc2";
$vp-object-group: "\ecc3";
$vp-object-group-solid: "\ecc4";
$vp-object-ungroup: "\ecc5";
$vp-object-ungroup-solid: "\ecc6";
$vp-odnoklassniki: "\ecc7";
$vp-odnoklassniki-square: "\ecc8";
$vp-oil-can-solid: "\ecc9";
$vp-old-republic: "\ecca";
$vp-om-solid: "\eccb";
$vp-opencart: "\eccc";
$vp-openid: "\eccd";
$vp-opera: "\ecce";
$vp-optin-monster: "\eccf";
$vp-orcid: "\ecd0";
$vp-osi: "\ecd1";
$vp-otter-solid: "\ecd2";
$vp-outdent-solid: "\ecd3";
$vp-page4: "\ecd4";
$vp-pagelines: "\ecd5";
$vp-pager-solid: "\ecd6";
$vp-paint-brush-solid: "\ecd7";
$vp-paint-roller-solid: "\ecd8";
$vp-palette-solid: "\ecd9";
$vp-palfed: "\ecda";
$vp-pallet-solid: "\ecdb";
$vp-paperclip-solid: "\ecdc";
$vp-paper-plane: "\ecdd";
$vp-paper-plane-solid: "\ecde";
$vp-parachute-box-solid: "\ecdf";
$vp-paragraph-solid: "\ece0";
$vp-parking-solid: "\ece1";
$vp-passport-solid: "\ece2";
$vp-pastafarianism-solid: "\ece3";
$vp-paste-solid: "\ece4";
$vp-patreon: "\ece5";
$vp-pause-circle: "\ece6";
$vp-pause-circle-solid: "\ece7";
$vp-pause-solid: "\ece8";
$vp-paw-solid: "\ece9";
$vp-paypal: "\ecea";
$vp-peace-solid: "\eceb";
$vp-pen-alt-solid: "\ecec";
$vp-pencil-alt-solid: "\eced";
$vp-pencil-ruler-solid: "\ecee";
$vp-pen-fancy-solid: "\ecef";
$vp-pen-nib-solid: "\ecf0";
$vp-penny-arcade: "\ecf1";
$vp-pen-solid: "\ecf2";
$vp-pen-square-solid: "\ecf3";
$vp-people-carry-solid: "\ecf4";
$vp-pepper-hot-solid: "\ecf5";
$vp-percentage-solid: "\ecf6";
$vp-percent-solid: "\ecf7";
$vp-periscope: "\ecf8";
$vp-person-booth-solid: "\ecf9";
$vp-phabricator: "\ecfa";
$vp-phoenix-framework: "\ecfb";
$vp-phoenix-squadron: "\ecfc";
$vp-phone-alt-solid: "\ecfd";
$vp-phone-slash-solid: "\ecfe";
$vp-phone-solid: "\ecff";
$vp-phone-square-alt-solid: "\ed00";
$vp-phone-square-solid: "\ed01";
$vp-phone-volume-solid: "\ed02";
$vp-photo-video-solid: "\ed03";
$vp-php: "\ed04";
$vp-pied-piper: "\ed05";
$vp-pied-piper-alt: "\ed06";
$vp-pied-piper-hat: "\ed07";
$vp-pied-piper-pp: "\ed08";
$vp-piggy-bank-solid: "\ed09";
$vp-pills-solid: "\ed0a";
$vp-pinterest: "\ed0b";
$vp-pinterest-p: "\ed0c";
$vp-pinterest-square: "\ed0d";
$vp-pizza-slice-solid: "\ed0e";
$vp-place-of-worship-solid: "\ed0f";
$vp-plane-arrival-solid: "\ed10";
$vp-plane-departure-solid: "\ed11";
$vp-plane-solid: "\ed12";
$vp-play-circle: "\ed13";
$vp-play-circle-solid: "\ed14";
$vp-play-solid: "\ed15";
$vp-playstation: "\ed16";
$vp-plug-solid: "\ed17";
$vp-plus-circle-solid: "\ed18";
$vp-plus-solid: "\ed19";
$vp-plus-square: "\ed1a";
$vp-plus-square-solid: "\ed1b";
$vp-podcast-solid: "\ed1c";
$vp-poll-h-solid: "\ed1d";
$vp-poll-solid: "\ed1e";
$vp-poop-solid: "\ed1f";
$vp-poo-solid: "\ed20";
$vp-poo-storm-solid: "\ed21";
$vp-portrait-solid: "\ed22";
$vp-pound-sign-solid: "\ed23";
$vp-power-off-solid: "\ed24";
$vp-praying-hands-solid: "\ed25";
$vp-pray-solid: "\ed26";
$vp-prescription-bottle-alt-solid: "\ed27";
$vp-prescription-bottle-solid: "\ed28";
$vp-prescription-solid: "\ed29";
$vp-print-solid: "\ed2a";
$vp-procedures-solid: "\ed2b";
$vp-product-hunt: "\ed2c";
$vp-project-diagram-solid: "\ed2d";
$vp-pushed: "\ed2e";
$vp-puzzle-piece-solid: "\ed2f";
$vp-python: "\ed30";
$vp-qq: "\ed31";
$vp-qrcode-solid: "\ed32";
$vp-question-circle: "\ed33";
$vp-question-circle-solid: "\ed34";
$vp-question-solid: "\ed35";
$vp-quidditch-solid: "\ed36";
$vp-quinscape: "\ed37";
$vp-quora: "\ed38";
$vp-quote-left-solid: "\ed39";
$vp-quote-right-solid: "\ed3a";
$vp-quran-solid: "\ed3b";
$vp-radiation-alt-solid: "\ed3c";
$vp-radiation-solid: "\ed3d";
$vp-rainbow-solid: "\ed3e";
$vp-random-solid: "\ed3f";
$vp-raspberry-pi: "\ed40";
$vp-ravelry: "\ed41";
$vp-react: "\ed42";
$vp-reacteurope: "\ed43";
$vp-readme: "\ed44";
$vp-rebel: "\ed45";
$vp-receipt-solid: "\ed46";
$vp-record-vinyl-solid: "\ed47";
$vp-recycle-solid: "\ed48";
$vp-reddit: "\ed49";
$vp-reddit-alien: "\ed4a";
$vp-reddit-square: "\ed4b";
$vp-redhat: "\ed4c";
$vp-redo-alt-solid: "\ed4d";
$vp-redo-solid: "\ed4e";
$vp-red-river: "\ed4f";
$vp-registered: "\ed50";
$vp-registered-solid: "\ed51";
$vp-remove-format-solid: "\ed52";
$vp-renren: "\ed53";
$vp-reply-all-solid: "\ed54";
$vp-replyd: "\ed55";
$vp-reply-solid: "\ed56";
$vp-republican-solid: "\ed57";
$vp-researchgate: "\ed58";
$vp-resolving: "\ed59";
$vp-restroom-solid: "\ed5a";
$vp-retweet-solid: "\ed5b";
$vp-rev: "\ed5c";
$vp-ribbon-solid: "\ed5d";
$vp-ring-solid: "\ed5e";
$vp-road-solid: "\ed5f";
$vp-robot-solid: "\ed60";
$vp-rocketchat: "\ed61";
$vp-rocket-solid: "\ed62";
$vp-rockrms: "\ed63";
$vp-route-solid: "\ed64";
$vp-r-project: "\ed65";
$vp-rss-solid: "\ed66";
$vp-rss-square-solid: "\ed67";
$vp-ruble-sign-solid: "\ed68";
$vp-ruler-combined-solid: "\ed69";
$vp-ruler-horizontal-solid: "\ed6a";
$vp-ruler-solid: "\ed6b";
$vp-ruler-vertical-solid: "\ed6c";
$vp-running-solid: "\ed6d";
$vp-rupee-sign-solid: "\ed6e";
$vp-sad-cry: "\ed6f";
$vp-sad-cry-solid: "\ed70";
$vp-sad-tear: "\ed71";
$vp-sad-tear-solid: "\ed72";
$vp-safari: "\ed73";
$vp-salesforce: "\ed74";
$vp-sass: "\ed75";
$vp-satellite-dish-solid: "\ed76";
$vp-satellite-solid: "\ef07";
$vp-save: "\ef08";
$vp-save-solid: "\ed77";
$vp-schlix: "\ed78";
$vp-school-solid: "\ed79";
$vp-screwdriver-solid: "\ed7a";
$vp-scribd: "\ed7b";
$vp-scroll-solid: "\ed7c";
$vp-sd-card-solid: "\ed7d";
$vp-search-dollar-solid: "\ed7e";
$vp-searchengin: "\ed7f";
$vp-search-location-solid: "\ed80";
$vp-search-minus-solid: "\ed81";
$vp-search-plus-solid: "\ed82";
$vp-search-solid: "\ed83";
$vp-seedling-solid: "\ed84";
$vp-sellcast: "\ed85";
$vp-sellsy: "\ed86";
$vp-server-solid: "\ed87";
$vp-servicestack: "\ed88";
$vp-shapes-solid: "\ed89";
$vp-share-alt-solid: "\ed8a";
$vp-share-alt-square-solid: "\ed8b";
$vp-share-solid: "\ed8c";
$vp-share-square: "\ed8d";
$vp-share-square-solid: "\ed8e";
$vp-shekel-sign-solid: "\ed8f";
$vp-shield-alt-solid: "\ed90";
$vp-shipping-fast-solid: "\ed91";
$vp-ship-solid: "\ed92";
$vp-shirtsinbulk: "\ed93";
$vp-shoe-prints-solid: "\ed94";
$vp-shopping-bag-solid: "\ed95";
$vp-shopping-basket-solid: "\ed96";
$vp-shopping-cart-solid: "\ed97";
$vp-shopware: "\ed98";
$vp-shower-solid: "\ed99";
$vp-shuttle-van-solid: "\ed9a";
$vp-signal-solid: "\ed9b";
$vp-signature-solid: "\ed9c";
$vp-sign-in-alt-solid: "\ed9d";
$vp-sign-language-solid: "\ed9e";
$vp-sign-out-alt-solid: "\ed9f";
$vp-sign-solid: "\eda0";
$vp-sim-card-solid: "\eda1";
$vp-simplybuilt: "\eda2";
$vp-sistrix: "\eda3";
$vp-sitemap-solid: "\eda4";
$vp-sith: "\eda5";
$vp-skating-solid: "\eda6";
$vp-sketch: "\eda7";
$vp-skiing-nordic-solid: "\eda8";
$vp-skiing-solid: "\eda9";
$vp-skull-crossbones-solid: "\edaa";
$vp-skull-solid: "\edab";
$vp-skyatlas: "\edac";
$vp-skype: "\edad";
$vp-slack: "\edae";
$vp-slack-hash: "\edaf";
$vp-slash-solid: "\edb0";
$vp-sleigh-solid: "\edb1";
$vp-sliders-h-solid: "\edb2";
$vp-slideshare: "\edb3";
$vp-smile: "\edb4";
$vp-smile-beam: "\edb5";
$vp-smile-beam-solid: "\edb6";
$vp-smile-solid: "\edb7";
$vp-smile-wink: "\edb8";
$vp-smile-wink-solid: "\edb9";
$vp-smog-solid: "\edba";
$vp-smoking-ban-solid: "\edbb";
$vp-smoking-solid: "\edbc";
$vp-sms-solid: "\edbd";
$vp-snapchat: "\edbe";
$vp-snapchat-ghost: "\edbf";
$vp-snapchat-square: "\edc0";
$vp-snowboarding-solid: "\edc1";
$vp-snowflake: "\edc2";
$vp-snowflake-solid: "\edc3";
$vp-snowman-solid: "\edc4";
$vp-snowplow-solid: "\edc5";
$vp-socks-solid: "\edc6";
$vp-solar-panel-solid: "\edc7";
$vp-sort-alpha-down-alt-solid: "\edc8";
$vp-sort-alpha-down-solid: "\edc9";
$vp-sort-alpha-up-alt-solid: "\edca";
$vp-sort-alpha-up-solid: "\edcb";
$vp-sort-amount-down-alt-solid: "\edcc";
$vp-sort-amount-down-solid: "\edcd";
$vp-sort-amount-up-alt-solid: "\edce";
$vp-sort-amount-up-solid: "\edcf";
$vp-sort-down-solid: "\edd0";
$vp-sort-numeric-down-alt-solid: "\edd1";
$vp-sort-numeric-down-solid: "\edd2";
$vp-sort-numeric-up-alt-solid: "\edd3";
$vp-sort-numeric-up-solid: "\edd4";
$vp-sort-solid: "\edd5";
$vp-sort-up-solid: "\edd6";
$vp-soundcloud: "\edd7";
$vp-sourcetree: "\edd8";
$vp-space-shuttle-solid: "\edd9";
$vp-spa-solid: "\edda";
$vp-speakap: "\eddb";
$vp-speaker-deck: "\eddc";
$vp-spell-check-solid: "\eddd";
$vp-spider-solid: "\edde";
$vp-spinner-solid: "\eddf";
$vp-splotch-solid: "\ede0";
$vp-spotify: "\ede1";
$vp-spray-can-solid: "\ede2";
$vp-square: "\ede3";
$vp-square-full-solid: "\ede4";
$vp-square-root-alt-solid: "\ede5";
$vp-square-solid: "\ede6";
$vp-squarespace: "\ede7";
$vp-stack-exchange: "\ede8";
$vp-stack-overflow: "\ede9";
$vp-stackpath: "\edea";
$vp-stamp-solid: "\edeb";
$vp-star: "\edec";
$vp-star-and-crescent-solid: "\eded";
$vp-star-half: "\edee";
$vp-star-half-alt-solid: "\edef";
$vp-star-half-solid: "\edf0";
$vp-star-of-david-solid: "\edf1";
$vp-star-of-life-solid: "\edf2";
$vp-star-solid: "\edf3";
$vp-staylinked: "\edf4";
$vp-steam: "\edf5";
$vp-steam-square: "\edf6";
$vp-steam-symbol: "\edf7";
$vp-step-backward-solid: "\edf8";
$vp-step-forward-solid: "\edf9";
$vp-stethoscope-solid: "\edfa";
$vp-sticker-mule: "\edfb";
$vp-sticky-note: "\edfc";
$vp-sticky-note-solid: "\edfd";
$vp-stop-circle: "\edfe";
$vp-stop-circle-solid: "\edff";
$vp-stop-solid: "\ee00";
$vp-stopwatch-solid: "\ee01";
$vp-store-alt-solid: "\ee02";
$vp-store-solid: "\ee03";
$vp-strava: "\ee04";
$vp-stream-solid: "\ee05";
$vp-street-view-solid: "\ee06";
$vp-strikethrough-solid: "\ee07";
$vp-stripe: "\ee08";
$vp-stripe-s: "\ee09";
$vp-stroopwafel-solid: "\ee0a";
$vp-studiovinari: "\ee0b";
$vp-stumbleupon: "\ee0c";
$vp-stumbleupon-circle: "\ee0d";
$vp-subscript-solid: "\ee0e";
$vp-subway-solid: "\ee0f";
$vp-suitcase-rolling-solid: "\ee10";
$vp-suitcase-solid: "\ee11";
$vp-sun: "\ee12";
$vp-sun-solid: "\ee13";
$vp-superpowers: "\ee14";
$vp-superscript-solid: "\ee15";
$vp-supple: "\ee16";
$vp-surprise: "\ee17";
$vp-surprise-solid: "\ee18";
$vp-suse: "\ee19";
$vp-swatchbook-solid: "\ee1a";
$vp-swift: "\ee1b";
$vp-swimmer-solid: "\ee1c";
$vp-swimming-pool-solid: "\ee1d";
$vp-symfony: "\ee1e";
$vp-synagogue-solid: "\ee1f";
$vp-sync-alt-solid: "\ee20";
$vp-sync-solid: "\ee21";
$vp-syringe-solid: "\ee22";
$vp-table-solid: "\ee23";
$vp-tablet-alt-solid: "\ee24";
$vp-table-tennis-solid: "\ee25";
$vp-tablet-solid: "\ee26";
$vp-tablets-solid: "\ee27";
$vp-tachometer-alt-solid: "\ee28";
$vp-tag-solid: "\ee29";
$vp-tags-solid: "\ee2a";
$vp-tape-solid: "\ee2b";
$vp-tasks-solid: "\ee2c";
$vp-taxi-solid: "\ee2d";
$vp-teamspeak: "\ee2e";
$vp-teeth-open-solid: "\ee2f";
$vp-teeth-solid: "\ee30";
$vp-telegram: "\ee31";
$vp-telegram-plane: "\ee32";
$vp-temperature-high-solid: "\ee33";
$vp-temperature-low-solid: "\ee34";
$vp-tencent-weibo: "\ee35";
$vp-tenge-solid: "\ee36";
$vp-terminal-solid: "\ee37";
$vp-text-height-solid: "\ee38";
$vp-text-width-solid: "\ee39";
$vp-theater-masks-solid: "\ee3a";
$vp-themeco: "\ee3b";
$vp-themeisle: "\ee3c";
$vp-the-red-yeti: "\ee3d";
$vp-thermometer-empty-solid: "\ee3e";
$vp-thermometer-full-solid: "\ee3f";
$vp-thermometer-half-solid: "\ee40";
$vp-thermometer-quarter-solid: "\ee41";
$vp-thermometer-solid: "\ee42";
$vp-thermometer-three-quarters-solid: "\ee43";
$vp-think-peaks: "\ee44";
$vp-th-large-solid: "\ee45";
$vp-th-list-solid: "\ee46";
$vp-th-solid: "\ee47";
$vp-thumbs-down: "\ee48";
$vp-thumbs-down-solid: "\ee49";
$vp-thumbs-up: "\ee4a";
$vp-thumbs-up-solid: "\ee4b";
$vp-thumbtack-solid: "\ee4c";
$vp-ticket-alt-solid: "\ee4d";
$vp-times-circle: "\ee4e";
$vp-times-circle-solid: "\ee4f";
$vp-times-solid: "\ee50";
$vp-tint-slash-solid: "\ee51";
$vp-tint-solid: "\ee52";
$vp-tired: "\ee53";
$vp-tired-solid: "\ee54";
$vp-toggle-off-solid: "\ee55";
$vp-toggle-on-solid: "\ee56";
$vp-toilet-paper-solid: "\ee57";
$vp-toilet-solid: "\ee58";
$vp-toolbox-solid: "\ee59";
$vp-tools-solid: "\ee5a";
$vp-tooth-solid: "\ee5b";
$vp-torah-solid: "\ee5c";
$vp-torii-gate-solid: "\ee5d";
$vp-tractor-solid: "\ee5e";
$vp-trade-federation: "\ee5f";
$vp-trademark-solid: "\ee60";
$vp-traffic-light-solid: "\ee61";
$vp-train-solid: "\ee62";
$vp-tram-solid: "\ee63";
$vp-transgender-alt-solid: "\ee64";
$vp-transgender-solid: "\ee65";
$vp-trash-alt: "\ee66";
$vp-trash-alt-solid: "\ee67";
$vp-trash-restore-alt-solid: "\ee68";
$vp-trash-restore-solid: "\ee69";
$vp-trash-solid: "\ee6a";
$vp-tree-solid: "\ee6b";
$vp-trello: "\ee6c";
$vp-tripadvisor: "\ee6d";
$vp-trophy-solid: "\ee6e";
$vp-truck-loading-solid: "\ee6f";
$vp-truck-monster-solid: "\ee70";
$vp-truck-moving-solid: "\ee71";
$vp-truck-pickup-solid: "\ee72";
$vp-truck-solid: "\ee73";
$vp-tshirt-solid: "\ee74";
$vp-tty-solid: "\ee75";
$vp-tumblr: "\ee76";
$vp-tumblr-square: "\ee77";
$vp-tv-solid: "\ee78";
$vp-twitch: "\ee79";
$vp-twitter: "\ee7a";
$vp-twitter-square: "\ee7b";
$vp-typo3: "\ee7c";
$vp-uber: "\ee7d";
$vp-ubuntu: "\ee7e";
$vp-uikit: "\ee7f";
$vp-umbraco: "\ee80";
$vp-umbrella-beach-solid: "\ee81";
$vp-umbrella-solid: "\ee82";
$vp-underline-solid: "\ee83";
$vp-undo-alt-solid: "\ee84";
$vp-undo-solid: "\ee85";
$vp-uniregistry: "\ee86";
$vp-universal-access-solid: "\ee87";
$vp-university-solid: "\ee88";
$vp-unlink-solid: "\ee89";
$vp-unlock-alt-solid: "\ee8a";
$vp-unlock-solid: "\ee8b";
$vp-untappd: "\ee8c";
$vp-upload-solid: "\ee8d";
$vp-ups: "\ee8e";
$vp-usb: "\ee8f";
$vp-user: "\ee90";
$vp-user-alt-slash-solid: "\ee91";
$vp-user-alt-solid: "\ee92";
$vp-user-astronaut-solid: "\ee93";
$vp-user-check-solid: "\ee94";
$vp-user-circle: "\ee95";
$vp-user-circle-solid: "\ee96";
$vp-user-clock-solid: "\ee97";
$vp-user-cog-solid: "\ee98";
$vp-user-edit-solid: "\ee99";
$vp-user-friends-solid: "\ee9a";
$vp-user-graduate-solid: "\ee9b";
$vp-user-injured-solid: "\ee9c";
$vp-user-lock-solid: "\ee9d";
$vp-user-md-solid: "\ee9e";
$vp-user-minus-solid: "\ee9f";
$vp-user-ninja-solid: "\eea0";
$vp-user-nurse-solid: "\eea1";
$vp-user-plus-solid: "\eea2";
$vp-users-cog-solid: "\eea3";
$vp-user-secret-solid: "\eea4";
$vp-user-shield-solid: "\eea5";
$vp-user-slash-solid: "\eea6";
$vp-user-solid: "\eea7";
$vp-users-solid: "\eea8";
$vp-user-tag-solid: "\eea9";
$vp-user-tie-solid: "\eeaa";
$vp-user-times-solid: "\eeab";
$vp-usps: "\eeac";
$vp-ussunnah: "\eead";
$vp-utensil-spoon-solid: "\eeae";
$vp-utensils-solid: "\eeaf";
$vp-vaadin: "\eeb0";
$vp-vector-square-solid: "\eeb1";
$vp-venus-double-solid: "\eeb2";
$vp-venus-mars-solid: "\eeb3";
$vp-venus-solid: "\eeb4";
$vp-viacoin: "\eeb5";
$vp-viadeo: "\eeb6";
$vp-viadeo-square: "\eeb7";
$vp-vial-solid: "\eeb8";
$vp-vials-solid: "\eeb9";
$vp-viber: "\eeba";
$vp-video-slash-solid: "\eebb";
$vp-video-solid: "\eebc";
$vp-vihara-solid: "\eebd";
$vp-vimeo: "\eebe";
$vp-vimeo-square: "\eebf";
$vp-vimeo-v: "\eec0";
$vp-vine: "\eec1";
$vp-vk: "\eec2";
$vp-vnv: "\eec3";
$vp-voicemail-solid: "\eec4";
$vp-volleyball-ball-solid: "\eec5";
$vp-volume-down-solid: "\eec6";
$vp-volume-mute-solid: "\eec7";
$vp-volume-off-solid: "\eec8";
$vp-volume-up-solid: "\eec9";
$vp-vote-yea-solid: "\eeca";
$vp-vr-cardboard-solid: "\eecb";
$vp-vuejs: "\eecc";
$vp-walking-solid: "\eecd";
$vp-wallet-solid: "\eece";
$vp-warehouse-solid: "\eecf";
$vp-water-solid: "\eed0";
$vp-wave-square-solid: "\eed1";
$vp-waze: "\eed2";
$vp-weebly: "\eed3";
$vp-weibo: "\eed4";
$vp-weight-hanging-solid: "\eed5";
$vp-weight-solid: "\eed6";
$vp-weixin: "\eed7";
$vp-whatsapp: "\eed8";
$vp-whatsapp-square: "\eed9";
$vp-wheelchair-solid: "\eeda";
$vp-whmcs: "\eedb";
$vp-wifi-solid: "\eedc";
$vp-wikipedia-w: "\eedd";
$vp-window-close: "\eede";
$vp-window-close-solid: "\eedf";
$vp-window-maximize: "\eee0";
$vp-window-maximize-solid: "\eee1";
$vp-window-minimize: "\eee2";
$vp-window-minimize-solid: "\eee3";
$vp-window-restore: "\eee4";
$vp-window-restore-solid: "\eee5";
$vp-windows: "\eee6";
$vp-wind-solid: "\eee7";
$vp-wine-bottle-solid: "\eee8";
$vp-wine-glass-alt-solid: "\eee9";
$vp-wine-glass-solid: "\eeea";
$vp-wix: "\eeeb";
$vp-wizards-of-the-coast: "\eeec";
$vp-wolf-pack-battalion: "\eeed";
$vp-won-sign-solid: "\eeee";
$vp-wordpress: "\eeef";
$vp-wordpress-simple: "\eef0";
$vp-wpbeginner: "\eef1";
$vp-wpexplorer: "\eef2";
$vp-wpforms: "\eef3";
$vp-wpressr: "\eef4";
$vp-wrench-solid: "\eef5";
$vp-xbox: "\eef6";
$vp-xing: "\eef7";
$vp-xing-square: "\eef8";
$vp-x-ray-solid: "\eef9";
$vp-yahoo: "\eefa";
$vp-yammer: "\eefb";
$vp-yandex: "\eefc";
$vp-yandex-international: "\eefd";
$vp-yarn: "\eefe";
$vp-y-combinator: "\eeff";
$vp-yelp: "\ef00";
$vp-yen-sign-solid: "\ef01";
$vp-yin-yang-solid: "\ef02";
$vp-yoast: "\ef03";
$vp-youtube: "\ef04";
$vp-youtube-square: "\ef05";
$vp-zhihu: "\ef06";
$vp-clock1: "\e900";

