<aside id="info-block">
    <section class="file-marker">
        <div>
            <div class="box-title">
                &nbsp;&nbsp;<a style="font-size:14px">New</a>&nbsp;&nbsp;
            </div>
            <div class="box-contents" style="text-align: left;padding: 10px;">
                <form autocomplete="off">
                    <div class="row mb-3">
                        <div class="col">
                            
                            <div class="form-group">
                               SKU :&nbsp;
                                <div class="input-group-append ">
                                    <input type="text" name="SKU" class="form-control" style="width: 100%;"  placeholder="Please enter SKU" >
                                </div>
                            </div>
                            
                        </div>
                        <div class="col">   
                            <div class="form-group">
                                Name :&nbsp;
                                <div class="input-group-append ">
                                    <select name="name" id="name" class="form-control">
                                        <option value="1">Name 1</option>
                                        <option value="2">Name 2</option>
                                        <option value="3">Name 3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                Serial No. :&nbsp;
                                <div class="input-group-append ">
                                    <input type="text" name="serialNo" class="form-control " placeholder="Please enter Serial No." style="width: 100%;"  >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                Description :&nbsp;
                                <div class="input-group-append ">
                                    <textarea id="Description" name="Description" rows="3" cols="50" class="form-control"
                                        placeholder="Please enter Description" style="width: 100%;resize:none;"></textarea>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <aside id="info-block">
                                <section class="file-marker">
                                    <div>
                                        <div class="box-title">
                                            &nbsp;&nbsp;<a style="font-size:14px">Choose</a>&nbsp;&nbsp;
                                        </div>
                                        <div class="box-contents" style="text-align: left;padding: 10px;">
                                            <table>
                                                
                                                <tr>
                                                    <td class="text-right">
                                                        Damage :&nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" name="rdoCounter">&nbsp;Yes
                                                        &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoCounter"
                                                            checked>&nbsp;No
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        Yellow :&nbsp;
                                                    </td>
                                                    <td>
                                                        <input type="radio" name="rdoRepair">&nbsp;Yes
                                                &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoRepair" checked>&nbsp;No
                                                    </td>
                            
                                                </tr>
                                                
                                            </table>
                                        </div>
                                    </div>
                                </section>
                                
                            </aside>
                        </div>       
                    </div>
                </form>
            </div>    
        </div>
    </section>
</aside>




