<div class="outer-wrapper text-center" style="background-size:cover;width:99%;padding-top: 15px;">
    <h1 class="display-4">Welcome</h1>
    <p>Product Repair Service (PRS)</p>
    <div style="width:20%;height: 20%; z-index: 2;position:fixed;" >
        <img class="img-responsive" src="{{imageSrc}}" alt="logo" style="width:65%; z-index: 2;position:fixed;" /> 
    </div>
    <div class="card-body" style="padding-left: 27%;">
        <div class="row">
            <div class="col">
                <div class="card zoom" style="width: 8rem;height:8rem;z-index: 9999999;background-color: #112d4e;">
                    <a href="/pages/counter/receive" id="pro4">   
                        <div class="card-body" style="width: 8rem;height:8rem">
                            <div class="row mb-0">
                                <div class="col">
                                    <i class="nav-icon vp-wrench-solid" style="font-size: 50px;color: white;"></i>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col">
                                    <h4 class="text-grey" style="color: white;">เปิดใบรับซ่อม<br>(Durable)</h4> 
                                </div>
                            </div>  
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card zoom" style="width: 8rem;height:8rem;z-index: 9999999;background-color: #112d4e;" >
                    <a href="/pages/counter/shopper" id="pro4">   
                        <div class="card-body" style="width: 8rem;height:8rem">
                            <div class="row mb-0">
                                <div class="col">
                                    <i class="nav-icon vp-user-astronaut-solid" style="font-size: 50px;color: white;"></i>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col text-center" style="color: white;">
                                    <h4>เปิดใบรับซ่อม<br>
                            <a style="font-size: 9.5px;font-weight: 200;">(Shopper&Premium)
                            </a></h4> 
                                </div>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card zoom" style="width: 8rem;height:8rem;z-index: 9999999;background-color: #112d4e;">
                    <a href="/pages/counter/receive" id="pro4">   
                        <div class="card-body" style="width: 8rem;height:8rem">
                            <div class="row mb-0">
                                <div class="col">
                                    <i class="nav-icon vp-search-solid" style="font-size: 50px;color: white;"></i>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col" style="color: white;">
                                    <h4>ค้นหา<br>ใบรับซ่อม</h4> 
                                </div>
                            </div>  
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card zoom" style="width: 8rem;height:8rem;z-index: 9999999;background-color: #112d4e;">
                    <a href="/pages/maintenance/new" id="pro4">   
                        <div class="card-body" style="width: 8rem;height:8rem">
                            <div class="row mb-0">
                                <div class="col text-center">
                                    <i class="nav-icon vp-tools-solid" style="font-size: 50px;color: white;"></i>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col text-bold" style="color: white;">
                                    <h4>งานช่าง</h4> 
                                </div>
                            </div>  
                        </div>
                    </a>
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</div>

<style>
* {
  box-sizing: border-box;
}

.zoom {
  background-color: rgb(233, 233, 233);
  transition: transform .2s;  
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
</style>

