
<div class="content">
<div class="row-12 shadow-sm" style="height: 70px;padding-left: 60px;">
    <img src="{{imageSrc}}" alt="logo" />
  </div>
  <div class="card-body text-center">
    <div class="container">
       <div class="row">
          <div class="col-md-5 mx-auto">
             <div id="first">
                <div class="myform">
                   <div class="logo mb-3">
                      <div class="col-md-12 text-center">
                         <h1 class="text-gray">Product Repair Service (PRS)</h1>
                      </div>
                   </div>
                 <form action="" method="post" name="login">
                   <div class="form-group text-left">
                      <label for="exampleInputUserName" class="text-gray">Native ID/UserName</label>
                      <input type="text" name="username" class="form-control text" id="username"
                         placeholder="Enter Native ID/UserName" style="border-radius: 9px;">
                   </div>
                   <div class="form-group text-left">
                      <label for="exampleInputPassword" class="text-gray">Password</label>
                      <input type="text" name="password" id="password" class="form-control text"
                         placeholder="Enter Password" style="border-radius: 9px;">
                     
                   </div>
                   
                   <div class="form-group">
                    
                      <p class="text-center wrapper">Language&nbsp;&nbsp;&nbsp;<input type="radio" name="rdoLan"
                            checked>&nbsp;English
                         &nbsp;<input type="radio" name="rdoLan">&nbsp;ไทย</p>
                   </div>
                   <div class="col-lg-12 text-center ">
                      <button type="button" class="btn btn-dark btn-lg col-12" (click)="onSubmit()"
                         style="border-radius: 30px;">Login</button>
                   </div>
                   <div class="col-md-12 ">
                      <div class="login-or">
                         <hr class="hr-or">
                      </div>
                   </div>
                   <div class="form-group">
                      <p class="text-center"><input type="checkbox">&nbsp;Remember
                         Me&nbsp;<label style="color: rgb(90, 90, 92);">|</label>&nbsp;<a href="#" id="signup">Forgot
                            your
                            password?</a></p>
                            <a style="color:rgb(196, 196, 196)">Build 15-06-2022</a>
                   </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
    
   </div>
  </div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
       integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
       <script src="assets/plugins/jquery/jquery.min.js"></script>
       <!-- jQuery UI 1.11.4 -->
       <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
       <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
       <!-- Bootstrap 4 -->
       <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
       <!-- ChartJS -->
       <script src="assets/plugins/chart.js/Chart.min.js"></script>
       <!-- Sparkline -->
       <script src="assets/plugins/sparklines/sparkline.js"></script>
       <!-- JQVMap -->
       <script src="assets/plugins/jqvmap/jquery.vmap.min.js"></script>
       <script src="assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
       <!-- jQuery Knob Chart -->
       <script src="assets/plugins/jquery-knob/jquery.knob.min.js"></script>
       <!-- daterangepicker -->
       <script src="assets/plugins/moment/moment.min.js"></script>
       <script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
       <!-- Tempusdominus Bootstrap 4 -->
       <script src="assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
       <!-- Summernote -->
       <script src="assets/plugins/summernote/summernote-bs4.min.js"></script>
       <!-- overlayScrollbars -->
       <script src="assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
       <!-- AdminLTE App -->
       <script src="assets/dist/js/adminlte.js"></script>
       <!-- AdminLTE for demo purposes -->
       <script src="assets/dist/js/demo.js"></script>
       <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
       <script src="assets/dist/js/pages/dashboard.js"></script>
       
  <style>
    
     body {

  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
  background: rgba(0, 0, 0, 0.76);
 
}

a {
  text-decoration: none !important;
}

.myform {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;

}

.tx-tfm {
  text-transform: uppercase;
}

.mybtn {
  border-radius: 50px;
  border-radius: 30px;
  background: #fcfcfc;
  box-shadow: 7px 7px 8px #f2f2f2,
    -7px -7px 8px #ffffff;
  border: #f2f2f2;
  cursor: pointer;
  transition: .2s ease-in-out;

}



.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.google {
  color: #666;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey;
}

form .error {
  color: #ff0000;
}

#second {
  display: none;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.btn-eye {
  margin-left: 38px;
  margin-top: -60px;
  background-color:transparent;
}

.radiogroup {
  padding: 48px 64px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
}

.wrapper {
  margin: 8px 0;
}

.state {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}
.login-box{
    margin: auto;
    margin-top: 15%;
}

  </style>  
  