<div class="content" style="padding: 5px;padding-top: 10px;">
    <form autocomplete="off">
        <div class="card">
            <div class="card-header card-image">
                <div class="row">
                    <div class="col text-left">In-Home Service Data <label class="lblSurvey">Survey</label></div>
                    <div class="col text-right"><i class="vp-box-open-solid" style="font-size: 25px;"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                
                <hr>
                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="button" name="btnSave" class="btn btn-amway btn-xs" (click)="onSave()"><i
                                class="vp-save-solid"></i>&nbsp;&nbsp; Save&nbsp;</button>&nbsp;
                        <button type="button" name="btnCancel" class="btn btn-outline-amway btn-xs"
                            (click)="onCancel()"><i class="vp-times-solid"></i> Cancel</button>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>


