<div class="content" style="padding: 5px;padding-top: 10px;">
    <form autocomplete="off">
        <div class="card">
            <div class="card-header card-image">
                <div class="row">
                    <div class="col text-left">In-Home Service Data <label class="lblService">Service</label></div>
                    <div class="col text-right"><i class="vp-wrench-solid txtHead" style="font-size: 25px;"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div>
                            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill"
                                        href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home"
                                        aria-selected="true">Call Center</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-three-profile1-tab" data-toggle="pill"
                                        href="#custom-tabs-three-profile1" role="tab"
                                        aria-controls="custom-tabs-three-profile" aria-selected="false">ช่างติดต่อลูกค้า</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-three-profile2-tab" data-toggle="pill"
                                        href="#custom-tabs-three-profile2" role="tab"
                                        aria-controls="custom-tabs-three-profile" aria-selected="false">Maintenance</a>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="card-body border border-top-0" style="height: 500px;">
                            <div class="tab-content" id="custom-tabs-three-tabContent">
                              
                                <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel"
                                aria-labelledby="custom-tabs-three-home-tab">
                                    <div class="row mb-3">
                                        <div class="col-12" style="text-align: center;">
                                            <div class="form-group">
                                                <label>Reference No : &nbsp;</label>
                                                    <label style="color: #0000a4" > OS-21000435 </label>
                                                <label style="margin-left: 10%;">วันที่ : &nbsp;</label>
                                                    <label style="color: #0000a4" > 13-07-2021 18:38 </label>
                                                <label style="margin-left: 10%;">พนักงานเปิดเอกสาร : &nbsp;</label>
                                                    <label style="color: #0000a4" > ทินกร มุ่งแห่งกลาง </label>
                                            </div>
                                            <br>
                                        </div>
                                        

                                        <div class="col-6" style="padding-left: 160px;">
                                            <div class="form-group">
                                                รหัสสมาชิก(ติดต่อ) :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="txtName" class="form-control"
                                                        value="6662237" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a>
                                                    ชื่อ-นามสกุล(ติดต่อ) : 
                                                </a>
                                                <a style="margin-left:21%">
                                                    เบอร์โทร :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text"  name="nameContact" class="form-control"
                                                           value="คุณพัชนี เต็มนา" readonly>
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="contactNo" class="form-control"
                                                            value="0819055984" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                SKU :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="SKU" class="form-control"
                                                    value="100188 : ชุดไส้กรองคาร์บอน+หลอดอุล"  readonly >
                                                </div>
                                            </div>

                                            <div class="form-group">
                                               ที่อยู่(ใช้เครื่อง) :&nbsp;
                                                <div class="input-group-append ">
                                                    <textarea id="customerAddress" name="customerAddress" rows="2"
                                                        cols="50" class="form-control"
                                                        readonly
                                                        style="width: 100%;resize:none;"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a>
                                                    จังหวัด :
                                                </a>
                                                <a style="margin-left:40%">
                                                    รหัสไปรษณีย์ :
                                                </a>
                                                <div class="input-group-append ">
                                                    <input type="text" name="province" class="form-control"
                                                    readonly style="width: 50%;">
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="postCode" class="form-control"
                                                            readonly style="width: 100%;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-right: 160px; ">

                                            <div class="form-group">
                                                รหัสสมาชิก(ใช้เครื่อง) :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="txtName" class="form-control"
                                                        value="6662237" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a>
                                                    ชื่อ-นามสกุล(ใช้เครื่อง) : 
                                                </a>
                                                <a style="margin-left:19%">
                                                    เบอร์โทร :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="userName" class="form-control"
                                                            value="คุณพัชนี เต็มนา" readonly>
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="userNo" class="form-control"
                                                            value="0819055984" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Serial No :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="serialNo" class="form-control"
                                                       readonly >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                อาการเบื้องต้น :&nbsp;
                                                 <div class="input-group-append ">
                                                     <textarea id="initialSymp" name="initialSymp" rows="2"
                                                         cols="50" class="form-control"
                                                         readonly
                                                         style="width: 100%;resize:none;"></textarea>
                                                 </div>
                                             </div>

                                            <div class="form-group">
                                                วัน-เวลาที่สะดวกติดต่อกลับ :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="replyDate" class="form-control"
                                                    readonly >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-three-profile1" role="tabpanel"
                                aria-labelledby="custom-tabs-three-profile1-tab">
                                <div class="row mb-3">
                                    <div class="col-6" style="padding-left: 160px;">
                                        <div class="form-group">
                                            <a>
                                                Serial No : 
                                            </a>
                                            <a style="margin-left:35%">
                                                รหัสสมาชิก(ใช้เครื่อง) : 
                                            </a>
                                            <div class="input-group-append ">
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input type="text"  name="serialNo" class="form-control"
                                                        placeholder="กรุณากรอก Serial No">
                                                </div>
                                                &nbsp;&nbsp;
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input type="text" name="userNo" class="form-control"
                                                    value="6662237" placeholder="กรุณากรอกรหัสสมาชิก(ใช้เครื่อง)">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <aside id="info-block">
                                            <section class="file-marker">
                                                <div>
                                                    <div class="box-title">
                                                        &nbsp;&nbsp;<a style="font-size:14px">Choose</a>&nbsp;&nbsp;
                                                    </div>
                                                    <div class="box-contents" style="text-align: left;padding: 10px;">
                                                        <table>
                                                            
                                                            <tr>
                                                                <td class="text-right">
                                                                    ระบุผู้ติดต่อ :&nbsp;
                                                                </td>
                                                                <td>
                                                                    <input type="radio" name="rdoCheck">&nbsp;นธอ
                                                                    &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoCheck"
                                                                        checked >&nbsp;ผู้ใช้เครื่อง
                                                                </td>
            
                                                            </tr>
                                                            
                                                        </table>
                                                    </div>
                                                </div>
                                            </section>
                                            
                                        </aside>
                                        <div class="form-group">
                                           ที่อยู่(ใช้เครื่อง) :&nbsp;
                                            <div class="input-group-append ">
                                                <textarea id="customerAddress" name="customerAddress" rows="2"
                                                    cols="50" class="form-control"
                                                    placeholder="กรุณากรอกที่อยู่(ใช้เครื่อง)"
                                                    style="width: 100%;resize:none;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            จุดสังเกต :&nbsp;
                                             <div class="input-group-append ">
                                                 <textarea id="customerAddress" name="customerAddress" rows="3"
                                                     cols="50" class="form-control"
                                                     placeholder="กรุณากรอกจุดสังเกต"
                                                     style="width: 100%;resize:none;"></textarea>
                                             </div>
                                         </div>

                                    </div>
                                    <div class="col-6" style="padding-right: 160px; ">

                                        <div class="form-group">
                                            <a>
                                                ชื่อ-นามสกุล(ใช้เครื่อง) : 
                                            </a>
                                            <a style="margin-left:19%">
                                                เบอร์โทร : 
                                            </a>
                                            <div class="input-group-append ">
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input type="text"  name="serialNo" class="form-control"
                                                      value="คุณพัชนี เต็มนา"  placeholder="กรุณากรอกชื่อ-นามสกุล(ใช้เครื่อง)">
                                                </div>
                                                &nbsp;&nbsp;
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input type="text" name="userNo" class="form-control"
                                                       value="0819055984" placeholder="กรุณากรอกเบอร์โทร">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a>
                                                วัน-เวลาที่สะดวกรับบริการ :  
                                            </a>
                                            <a style="margin-left:17%">
                                                จนถึงวันที่ : 
                                            </a>
                                            <div class="input-group-append ">
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input id="replyDate" name="replyDate" type="text"
                                                    placeholder="DD-MM-YYYY HH:mm" class="form-control"
                                                    #dwe="bsDatepicker" bsDatepicker [bsValue]="date"
                                                    [bsConfig]="{withTimepicker:true, isAnimated: true, dateInputFormat: 'DD-MM-YYYY HH:mm' ,containerClass:'theme-dark-blue'}"
                                                    style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                <button type="button" class="btn btn-xs btn-outline-dark"
                                                    mat-raised-button (click)="dwe.toggle()"
                                                    [attr.aria-expanded]="dwe.isOpen"
                                                    style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                        class="vp-calendar text-black"
                                                        style="font-size: 20px;"></i></button>
                                                </div>
                                                &nbsp;&nbsp;
                                                <div class="input-group-append " style="width: 50%;">
                                                    <input id="replyDate" name="replyDate" type="text"
                                                    placeholder="DD-MM-YYYY HH:mm" class="form-control"
                                                    #dg="bsDatepicker" bsDatepicker [bsValue]="date"
                                                    [bsConfig]="{withTimepicker:true, isAnimated: true, dateInputFormat: 'DD-MM-YYYY HH:mm' ,containerClass:'theme-dark-blue'}"
                                                    style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                <button type="button" class="btn btn-xs btn-outline-dark"
                                                    mat-raised-button (click)="dg.toggle()"
                                                    [attr.aria-expanded]="dg.isOpen"
                                                    style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                        class="vp-calendar text-black"
                                                        style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                           รายชื่อผู้รับรายการ :&nbsp;
                                           <!-- <label style="color: #0000a4"> วันชัย ศรเขียว </label> -->
                                            <div class="input-group-append ">
                                                <input type="text" name="serialNo" class="form-control"
                                                    value="วันชัย ศรเขียว" readonly >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            เพิ่มเติม :&nbsp;
                                             <div class="input-group-append ">
                                                 <textarea id="txtName" name="txtName" rows="5"
                                                     cols="50" class="form-control"
                                                     placeholder="กรุณากรอกข้อมูลเพิ่มเติม"
                                                     style="width: 100%;resize:none;"></textarea>
                                             </div>
                                         </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom-tabs-three-profile2" role="tabpanel"
                                    aria-labelledby="custom-tabs-three-profile2-tab">
                                    <aside id="info-block">
                                        <section class="file-marker">
                                            <div>
                                                <div class="box-title">
                                                    &nbsp;&nbsp;<a style="font-size:14px">ASSC</a>&nbsp;&nbsp;
                                                </div>
                                                <div class="box-contents" style="text-align: left;padding: 10px;">
                                                    <div class="row mb-3">
                                        
                                                        <div class="col-6" style="padding-left: 160px;">
                                                            <div class="form-group">
                                                                ช่างที่รับงาน :&nbsp;
                                                                <div class="input-group-append ">
                                                                    <input type="text" name="txtName" class="form-control"
                                                                        placeholder="กรุณากรอกช่างที่รับงาน" value="6662237" style="width: 72%;">
                                                                        &nbsp;&nbsp;
                                                                        <button  type="button" class="btn btn-outline-dark btn-xs" (click)="onWork()" >ประวัติการรับงานของช่าง</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6" style="padding-right: 160px; ">
                                                            <div class="form-group">
                                                                วัน-เวลาที่สะดวกรับบริการ :&nbsp;
                                                                 <div class="input-group-append ">
                                                                     <input id="replyDate" name="replyDate" type="text"
                                                                         placeholder="DD-MM-YYYY HH:mm" class="form-control"
                                                                         #dc="bsDatepicker" bsDatepicker [bsValue]="date"
                                                                         [bsConfig]="{withTimepicker:true, isAnimated: true, dateInputFormat: 'DD-MM-YYYY HH:mm' ,containerClass:'theme-dark-blue'}"
                                                                         style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                                     <button type="button" class="btn btn-xs btn-outline-dark"
                                                                         mat-raised-button (click)="dc.toggle()"
                                                                         [attr.aria-expanded]="dc.isOpen"
                                                                         style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                                             class="vp-calendar text-black"
                                                                             style="font-size: 20px;"></i></button>
                                                                 </div>
                                                             </div>
                                                        </div>
                                                        
                                                        <div class="col-12" style="padding-left: 160px;padding-right: 160px; ">
                                                            <br>
                                                        <aside id="info-block">
                                                            <section class="file-marker">
                                                                <div>
                                                                    <div class="box-title">
                                                                        &nbsp;&nbsp;<a style="font-size:14px">Choose</a>&nbsp;&nbsp;
                                                                    </div>
                                                                    <div class="box-contents" style="text-align: left;padding: 10px;">
                                                                        <table>
                                                                            
                                                                            <tr>
                                                                                <td class="text-right">
                                                                                    ยกเลิกงาน :&nbsp;
                                                                                </td>
                                                                                <td>
                                                                                    <input type="radio" name="rdoCounter">&nbsp;ใช่
                                                                                    &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoCounter"
                                                                                        checked>&nbsp;ไม่ใช่
                                                                                </td>
                            
                                                                            </tr>
                                                                            
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                            
                                                        </aside>
                
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        
                                    </aside>
                                    <br>
                                    <aside id="info-block">
                                        <section class="file-marker">
                                            <div>
                                                <div class="box-title">
                                                    &nbsp;&nbsp;<a style="font-size:14px">Maintenance</a>&nbsp;&nbsp;
                                                </div>
                                                <div class="box-contents" style="text-align: left;padding: 10px;">
                                                    <div class="row mb-3">

                                                        <div class="col-6" style="padding-left: 160px;">
                                                            <div class="form-group">
                                                                ไมค์รถเริ่มต้น :&nbsp;
                                                                <div class="input-group-append ">
                                                                    <input type="text" name="txtName" class="form-control"
                                                                    placeholder="กรุณากรอกไมค์รถเริ่มต้น" >
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                GPS(ถ้ามี) :&nbsp;
                                                                <div class="input-group-append ">
                                                                    <input type="text" name="txtName" class="form-control"
                                                                    placeholder="กรุณากรอก GPS" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6" style="padding-right: 160px; ">
                                                            <div class="form-group">
                                                                ไมค์รถสิ้นสุด :&nbsp;
                                                                <div class="input-group-append ">
                                                                    <input type="text" name="txtName" class="form-control"
                                                                    placeholder="กรุณากรอกไมค์รถสิ้นสุด" >
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                เลขที่ QR :&nbsp;
                                                                <div class="input-group-append ">
                                                                    <input type="text" name="txtName" class="form-control"
                                                                    placeholder="เลขที่ QR" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12" style="padding-left: 160px;padding-right: 160px; ">
                                                            <div class="form-group">
                                                                หมายเหตุ :&nbsp;
                                                                 <div class="input-group-append ">
                                                                     <textarea id="initialSymp" name="initialSymp" rows="2"
                                                                         cols="50" class="form-control"
                                                                         placeholder="กรุณากรอกหมายเหตุ"
                                                                         style="width: 100%;resize:none;"></textarea>
                                                                 </div>
                                                             </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            
                                        </section>
                                        
                                    </aside>
                                   
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-three-profile3" role="tabpanel"
                                    aria-labelledby="custom-tabs-three-profile3-tab">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="button" name="btnSave" class="btn btn-amway btn-xs" (click)="onSave()"><i
                                class="vp-save-solid"></i>&nbsp;&nbsp; Save&nbsp;</button>&nbsp;
                        <button type="button" name="btnCancel" class="btn btn-outline-amway btn-xs"
                            (click)="onCancel()"><i class="vp-times-solid"></i> Cancel</button>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>

