$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$viconerror: "\e900";
$viconerror_outline: "\e901";
$viconwarning: "\e902";
$viconadd_alert: "\e903";
$viconnotification_important: "\e904";
$viconalbum: "\e905";
$viconav_timer: "\e906";
$viconclosed_caption: "\e907";
$viconequalizer: "\e908";
$viconexplicit: "\e909";
$viconfast_forward: "\e90a";
$viconfast_rewind: "\e90b";
$vicongames: "\e90c";
$viconhearing: "\e90d";
$viconhigh_quality: "\e90e";
$viconloop: "\e90f";
$viconmic: "\e910";
$viconmic_none: "\e911";
$viconmic_off: "\e912";
$viconmovie: "\e913";
$viconlibrary_add: "\e914";
$viconlibrary_books: "\e915";
$viconlibrary_music: "\e916";
$viconnew_releases: "\e917";
$viconnot_interested: "\e918";
$viconpause: "\e919";
$viconpause_circle_filled: "\e91a";
$viconpause_circle_outline: "\e91b";
$viconplay_arrow: "\e91c";
$viconplay_circle_filled: "\e91d";
$viconplay_circle_outline: "\e91e";
$viconplaylist_add: "\e91f";
$viconqueue_music: "\e920";
$viconradio: "\e921";
$viconrecent_actors: "\e922";
$viconrepeat: "\e923";
$viconrepeat_one: "\e924";
$viconreplay: "\e925";
$viconshuffle: "\e926";
$viconskip_next: "\e927";
$viconskip_previous: "\e928";
$viconsnooze: "\e929";
$viconstop: "\e92a";
$viconsubtitles: "\e92b";
$viconsurround_sound: "\e92c";
$viconvideo_library: "\e92d";
$viconvideocam: "\e92e";
$viconvideocam_off: "\e92f";
$viconvolume_down: "\e930";
$viconvolume_mute: "\e931";
$viconvolume_off: "\e932";
$viconvolume_up: "\e933";
$viconweb: "\e934";
$viconhd: "\e935";
$viconsort_by_alpha: "\e936";
$viconairplay: "\e937";
$viconforward_10: "\e938";
$viconforward_30: "\e939";
$viconforward_5: "\e93a";
$viconreplay_10: "\e93b";
$viconreplay_30: "\e93c";
$viconreplay_5: "\e93d";
$viconadd_to_queue: "\e93e";
$viconfiber_dvr: "\e93f";
$viconfiber_new: "\e940";
$viconplaylist_play: "\e941";
$viconart_track: "\e942";
$viconfiber_manual_record: "\e943";
$viconfiber_smart_record: "\e944";
$viconmusic_video: "\e945";
$viconsubscriptions: "\e946";
$viconplaylist_add_check: "\e947";
$viconqueue_play_next: "\e948";
$viconremove_from_queue: "\e949";
$viconslow_motion_video: "\e94a";
$viconweb_asset: "\e94b";
$viconfiber_pin: "\e94c";
$viconbranding_watermark: "\e94d";
$viconcall_to_action: "\e94e";
$viconfeatured_play_list: "\e94f";
$viconfeatured_video: "\e950";
$viconnote: "\e951";
$viconvideo_call: "\e952";
$viconvideo_label: "\e953";
$vicon4k: "\e954";
$viconmissed_video_call: "\e955";
$viconcontrol_camera: "\e956";
$viconbusiness: "\e957";
$viconcall: "\e958";
$viconcall_end: "\e959";
$viconcall_made: "\e95a";
$viconcall_merge: "\e95b";
$viconcall_missed: "\e95c";
$viconcall_received: "\e95d";
$viconcall_split: "\e95e";
$viconchat: "\e95f";
$viconclear_all: "\e960";
$viconcomment: "\e961";
$viconcontacts: "\e962";
$vicondialer_sip: "\e963";
$vicondialpad: "\e964";
$viconemail: "\e965";
$viconforum: "\e966";
$viconimport_export: "\e967";
$viconinvert_colors_off: "\e968";
$viconlive_help: "\e969";
$viconlocation_off: "\e96a";
$viconlocation_on: "\e96b";
$viconmessage: "\e96c";
$viconchat_bubble: "\e96d";
$viconchat_bubble_outline: "\e96e";
$viconno_sim: "\e96f";
$viconphone: "\e970";
$viconportable_wifi_off: "\e971";
$viconcontact_phone: "\e972";
$viconcontact_mail: "\e973";
$viconring_volume: "\e974";
$viconspeaker_phone: "\e975";
$viconstay_current_landscape: "\e976";
$viconstay_current_portrait: "\e977";
$viconswap_calls: "\e978";
$vicontextsms: "\e979";
$viconvoicemail: "\e97a";
$viconvpn_key: "\e97b";
$viconphonelink_erase: "\e97c";
$viconphonelink_lock: "\e97d";
$viconphonelink_ring: "\e97e";
$viconphonelink_setup: "\e97f";
$viconpresent_to_all: "\e980";
$viconimport_contacts: "\e981";
$viconmail_outline: "\e982";
$viconscreen_share: "\e983";
$viconstop_screen_share: "\e984";
$viconcall_missed_outgoing: "\e985";
$viconrss_feed: "\e986";
$viconalternate_email: "\e987";
$viconmobile_screen_share: "\e988";
$viconadd_call: "\e989";
$viconcancel_presentation: "\e98a";
$viconpause_presentation: "\e98b";
$viconunsubscribe: "\e98c";
$viconcell_wifi: "\e98d";
$viconsentiment_satisfied_alt: "\e98e";
$viconlist_alt: "\e98f";
$vicondomain_disabled: "\e990";
$viconlightbulb: "\e991";
$viconadd: "\e992";
$viconadd_box: "\e993";
$viconadd_circle: "\e994";
$viconadd_circle_outline: "\e995";
$viconarchive: "\e996";
$viconbackspace: "\e997";
$viconblock: "\e998";
$viconclear: "\e999";
$viconcontent_copy: "\e99a";
$viconcontent_cut: "\e99b";
$viconcontent_paste: "\e99c";
$viconcreate: "\e99d";
$vicondrafts: "\e99e";
$viconfilter_list: "\e99f";
$viconflag: "\e9a0";
$viconforward: "\e9a1";
$vicongesture: "\e9a2";
$viconinbox: "\e9a3";
$viconlink: "\e9a4";
$viconredo: "\e9a5";
$viconremove: "\e9a6";
$viconremove_circle: "\e9a7";
$viconremove_circle_outline: "\e9a8";
$viconreply: "\e9a9";
$viconreply_all: "\e9aa";
$viconreport: "\e9ab";
$viconsave: "\e9ac";
$viconselect_all: "\e9ad";
$viconsend: "\e9ae";
$viconsort: "\e9af";
$vicontext_format: "\e9b0";
$viconundo: "\e9b1";
$viconfont_download: "\e9b2";
$viconmove_to_inbox: "\e9b3";
$viconunarchive: "\e9b4";
$viconnext_week: "\e9b5";
$viconweekend: "\e9b6";
$vicondelete_sweep: "\e9b7";
$viconlow_priority: "\e9b8";
$viconoutlined_flag: "\e9b9";
$viconlink_off: "\e9ba";
$viconreport_off: "\e9bb";
$viconsave_alt: "\e9bc";
$viconballot: "\e9bd";
$viconfile_copy: "\e9be";
$viconhow_to_reg: "\e9bf";
$viconhow_to_vote: "\e9c0";
$viconwaves: "\e9c1";
$viconwhere_to_vote: "\e9c2";
$viconadd_link: "\e9c3";
$viconinventory: "\e9c4";
$viconaccess_alarm: "\e9c5";
$viconaccess_alarms: "\e9c6";
$viconaccess_time: "\e9c7";
$viconadd_alarm: "\e9c8";
$viconairplanemode_off: "\e9c9";
$viconairplanemode_on: "\e9ca";
$viconbattery_alert: "\e9cb";
$viconbattery_charging_full: "\e9cc";
$viconbattery_full: "\e9cd";
$viconbattery_unknown: "\e9ce";
$viconbluetooth: "\e9cf";
$viconbluetooth_connected: "\e9d0";
$viconbluetooth_disabled: "\e9d1";
$viconbluetooth_searching: "\e9d2";
$viconbrightness_auto: "\e9d3";
$viconbrightness_high: "\e9d4";
$viconbrightness_low: "\e9d5";
$viconbrightness_medium: "\e9d6";
$vicondata_usage: "\e9d7";
$vicondeveloper_mode: "\e9d8";
$vicondevices: "\e9d9";
$vicondvr: "\e9da";
$vicongps_fixed: "\e9db";
$vicongps_not_fixed: "\e9dc";
$vicongps_off: "\e9dd";
$vicongraphic_eq: "\e9de";
$viconnetwork_cell: "\e9df";
$viconnetwork_wifi: "\e9e0";
$viconnfc: "\e9e1";
$viconnow_wallpaper: "\e9e2";
$viconnow_widgets: "\e9e3";
$viconscreen_lock_landscape: "\e9e4";
$viconscreen_lock_portrait: "\e9e5";
$viconscreen_lock_rotation: "\e9e6";
$viconscreen_rotation: "\e9e7";
$viconsd_storage: "\e9e8";
$viconsettings_system_daydream: "\e9e9";
$viconsignal_cellular_4_bar: "\e9ea";
$viconsignal_cellular_connected_no_internet_4_bar: "\e9eb";
$viconsignal_cellular_null: "\e9ec";
$viconsignal_cellular_off: "\e9ed";
$viconsignal_wifi_4_bar: "\e9ee";
$viconsignal_wifi_4_bar_lock: "\e9ef";
$viconsignal_wifi_off: "\e9f0";
$viconstorage: "\e9f1";
$viconusb: "\e9f2";
$viconwifi_lock: "\e9f3";
$viconwifi_tethering: "\e9f4";
$viconadd_to_home_screen: "\e9f5";
$vicondevice_thermostat: "\e9f6";
$viconmobile_friendly: "\e9f7";
$viconmobile_off: "\e9f8";
$viconsignal_cellular_alt: "\e9f9";
$viconattach_file: "\e9fa";
$viconattach_money: "\e9fb";
$viconborder_all: "\e9fc";
$viconborder_bottom: "\e9fd";
$viconborder_clear: "\e9fe";
$viconborder_color: "\e9ff";
$viconborder_horizontal: "\ea00";
$viconborder_inner: "\ea01";
$viconborder_left: "\ea02";
$viconborder_outer: "\ea03";
$viconborder_right: "\ea04";
$viconborder_style: "\ea05";
$viconborder_top: "\ea06";
$viconborder_vertical: "\ea07";
$viconformat_align_center: "\ea08";
$viconformat_align_justify: "\ea09";
$viconformat_align_left: "\ea0a";
$viconformat_align_right: "\ea0b";
$viconformat_bold: "\ea0c";
$viconformat_clear: "\ea0d";
$viconformat_color_fill: "\ea0e";
$viconformat_color_reset: "\ea0f";
$viconformat_color_text: "\ea10";
$viconformat_indent_decrease: "\ea11";
$viconformat_indent_increase: "\ea12";
$viconformat_italic: "\ea13";
$viconformat_line_spacing: "\ea14";
$viconformat_list_bulleted: "\ea15";
$viconformat_list_numbered: "\ea16";
$viconformat_paint: "\ea17";
$viconformat_quote: "\ea18";
$viconformat_size: "\ea19";
$viconformat_strikethrough: "\ea1a";
$viconformat_textdirection_l_to_r: "\ea1b";
$viconformat_textdirection_r_to_l: "\ea1c";
$viconformat_underlined: "\ea1d";
$viconfunctions: "\ea1e";
$viconinsert_chart: "\ea1f";
$viconinsert_comment: "\ea20";
$viconinsert_drive_file: "\ea21";
$viconinsert_emoticon: "\ea22";
$viconinsert_invitation: "\ea23";
$viconinsert_photo: "\ea24";
$viconmode_comment: "\ea25";
$viconpublish: "\ea26";
$viconspace_bar: "\ea27";
$viconstrikethrough_s: "\ea28";
$viconvertical_align_bottom: "\ea29";
$viconvertical_align_center: "\ea2a";
$viconvertical_align_top: "\ea2b";
$viconwrap_text: "\ea2c";
$viconmoney_off: "\ea2d";
$vicondrag_handle: "\ea2e";
$viconformat_shapes: "\ea2f";
$viconhighlight: "\ea30";
$viconlinear_scale: "\ea31";
$viconshort_text: "\ea32";
$vicontext_fields: "\ea33";
$viconmonetization_on: "\ea34";
$vicontitle: "\ea35";
$vicontable_chart: "\ea36";
$viconadd_comment: "\ea37";
$viconformat_list_numbered_rtl: "\ea38";
$viconscatter_plot: "\ea39";
$viconscore: "\ea3a";
$viconinsert_chart_outlined: "\ea3b";
$viconbar_chart: "\ea3c";
$viconnotes: "\ea3d";
$viconattachment: "\ea3e";
$viconcloud: "\ea3f";
$viconcloud_circle: "\ea40";
$viconcloud_done: "\ea41";
$viconcloud_download: "\ea42";
$viconcloud_off: "\ea43";
$viconcloud_queue: "\ea44";
$viconcloud_upload: "\ea45";
$viconfile_download: "\ea46";
$viconfile_upload: "\ea47";
$viconfolder: "\ea48";
$viconfolder_open: "\ea49";
$viconfolder_shared: "\ea4a";
$viconcreate_new_folder: "\ea4b";
$viconcast: "\ea4c";
$viconcast_connected: "\ea4d";
$viconcomputer: "\ea4e";
$vicondesktop_mac: "\ea4f";
$vicondesktop_windows: "\ea50";
$vicondeveloper_board: "\ea51";
$vicondock: "\ea52";
$viconheadset: "\ea53";
$viconheadset_mic: "\ea54";
$viconkeyboard: "\ea55";
$viconkeyboard_arrow_down: "\ea56";
$viconkeyboard_arrow_left: "\ea57";
$viconkeyboard_arrow_right: "\ea58";
$viconkeyboard_arrow_up: "\ea59";
$viconkeyboard_backspace: "\ea5a";
$viconkeyboard_capslock: "\ea5b";
$viconkeyboard_hide: "\ea5c";
$viconkeyboard_return: "\ea5d";
$viconkeyboard_tab: "\ea5e";
$viconkeyboard_voice: "\ea5f";
$viconlaptop_chromebook: "\ea60";
$viconlaptop_mac: "\ea61";
$viconlaptop_windows: "\ea62";
$viconmemory: "\ea63";
$viconmouse: "\ea64";
$viconphone_android: "\ea65";
$viconphone_iphone: "\ea66";
$viconphonelink_off: "\ea67";
$viconrouter: "\ea68";
$viconscanner: "\ea69";
$viconsecurity: "\ea6a";
$viconsim_card: "\ea6b";
$viconspeaker: "\ea6c";
$viconspeaker_group: "\ea6d";
$vicontablet: "\ea6e";
$vicontablet_android: "\ea6f";
$vicontablet_mac: "\ea70";
$vicontoys: "\ea71";
$vicontv: "\ea72";
$viconwatch: "\ea73";
$vicondevice_hub: "\ea74";
$viconpower_input: "\ea75";
$vicondevices_other: "\ea76";
$viconvideogame_asset: "\ea77";
$vicondevice_unknown: "\ea78";
$viconheadset_off: "\ea79";
$viconadjust: "\ea7a";
$viconassistant: "\ea7b";
$viconaudiotrack: "\ea7c";
$viconblur_circular: "\ea7d";
$viconblur_linear: "\ea7e";
$viconblur_off: "\ea7f";
$viconblur_on: "\ea80";
$viconbrightness_1: "\ea81";
$viconbrightness_2: "\ea82";
$viconbrightness_3: "\ea83";
$viconbrightness_4: "\ea84";
$viconbroken_image: "\ea85";
$viconbrush: "\ea86";
$viconcamera: "\ea87";
$viconcamera_alt: "\ea88";
$viconcamera_front: "\ea89";
$viconcamera_rear: "\ea8a";
$viconcamera_roll: "\ea8b";
$viconcenter_focus_strong: "\ea8c";
$viconcenter_focus_weak: "\ea8d";
$viconcollections: "\ea8e";
$viconcolor_lens: "\ea8f";
$viconcolorize: "\ea90";
$viconcompare: "\ea91";
$viconcontrol_point_duplicate: "\ea92";
$viconcrop_16_9: "\ea93";
$viconcrop_3_2: "\ea94";
$viconcrop: "\ea95";
$viconcrop_5_4: "\ea96";
$viconcrop_7_5: "\ea97";
$viconcrop_din: "\ea98";
$viconcrop_free: "\ea99";
$viconcrop_original: "\ea9a";
$viconcrop_portrait: "\ea9b";
$viconcrop_square: "\ea9c";
$vicondehaze: "\ea9d";
$vicondetails: "\ea9e";
$viconexposure: "\ea9f";
$viconexposure_neg_1: "\eaa0";
$viconexposure_neg_2: "\eaa1";
$viconexposure_plus_1: "\eaa2";
$viconexposure_plus_2: "\eaa3";
$viconexposure_zero: "\eaa4";
$viconfilter_1: "\eaa5";
$viconfilter_2: "\eaa6";
$viconfilter_3: "\eaa7";
$viconfilter: "\eaa8";
$viconfilter_4: "\eaa9";
$viconfilter_5: "\eaaa";
$viconfilter_6: "\eaab";
$viconfilter_7: "\eaac";
$viconfilter_8: "\eaad";
$viconfilter_9: "\eaae";
$viconfilter_9_plus: "\eaaf";
$viconfilter_b_and_w: "\eab0";
$viconfilter_center_focus: "\eab1";
$viconfilter_drama: "\eab2";
$viconfilter_frames: "\eab3";
$viconfilter_hdr: "\eab4";
$viconfilter_none: "\eab5";
$viconfilter_tilt_shift: "\eab6";
$viconfilter_vintage: "\eab7";
$viconflare: "\eab8";
$viconflash_auto: "\eab9";
$viconflash_off: "\eaba";
$viconflash_on: "\eabb";
$viconflip: "\eabc";
$vicongradient: "\eabd";
$vicongrain: "\eabe";
$vicongrid_off: "\eabf";
$vicongrid_on: "\eac0";
$viconhdr_off: "\eac1";
$viconhdr_on: "\eac2";
$viconhdr_strong: "\eac3";
$viconhdr_weak: "\eac4";
$viconhealing: "\eac5";
$viconimage_aspect_ratio: "\eac6";
$viconiso: "\eac7";
$viconleak_add: "\eac8";
$viconleak_remove: "\eac9";
$viconlens: "\eaca";
$viconlooks_3: "\eacb";
$viconlooks: "\eacc";
$viconlooks_4: "\eacd";
$viconlooks_5: "\eace";
$viconlooks_6: "\eacf";
$viconlooks_one: "\ead0";
$viconlooks_two: "\ead1";
$viconloupe: "\ead2";
$viconmonochrome_photos: "\ead3";
$viconmusic_note: "\ead4";
$viconnature: "\ead5";
$viconnature_people: "\ead6";
$viconnavigate_before: "\ead7";
$viconnavigate_next: "\ead8";
$viconpanorama: "\ead9";
$viconpanorama_fisheye: "\eada";
$viconpanorama_horizontal: "\eadb";
$viconpanorama_vertical: "\eadc";
$viconpanorama_wide_angle: "\eadd";
$viconphoto_album: "\eade";
$viconpicture_as_pdf: "\eadf";
$viconportrait: "\eae0";
$viconremove_red_eye: "\eae1";
$viconrotate_90_degrees_ccw: "\eae2";
$viconrotate_left: "\eae3";
$viconrotate_right: "\eae4";
$viconslideshow: "\eae5";
$viconstraighten: "\eae6";
$viconstyle: "\eae7";
$viconswitch_camera: "\eae8";
$viconswitch_video: "\eae9";
$vicontexture: "\eaea";
$vicontimelapse: "\eaeb";
$vicontimer_10: "\eaec";
$vicontimer_3: "\eaed";
$vicontimer: "\eaee";
$vicontimer_off: "\eaef";
$vicontonality: "\eaf0";
$vicontransform: "\eaf1";
$vicontune: "\eaf2";
$viconview_comfy: "\eaf3";
$viconview_compact: "\eaf4";
$viconwb_auto: "\eaf5";
$viconwb_cloudy: "\eaf6";
$viconwb_incandescent: "\eaf7";
$viconwb_sunny: "\eaf8";
$viconcollections_bookmark: "\eaf9";
$viconphoto_size_select_actual: "\eafa";
$viconphoto_size_select_large: "\eafb";
$viconphoto_size_select_small: "\eafc";
$viconvignette: "\eafd";
$viconwb_iridescent: "\eafe";
$viconcrop_rotate: "\eaff";
$viconlinked_camera: "\eb00";
$viconadd_a_photo: "\eb01";
$viconmovie_filter: "\eb02";
$viconphoto_filter: "\eb03";
$viconburst_mode: "\eb04";
$viconshutter_speed: "\eb05";
$viconadd_photo_alternate: "\eb06";
$viconimage_search: "\eb07";
$viconmusic_off: "\eb08";
$viconbeenhere: "\eb09";
$vicondirections: "\eb0a";
$vicondirections_bike: "\eb0b";
$vicondirections_bus: "\eb0c";
$vicondirections_car: "\eb0d";
$vicondirections_ferry: "\eb0e";
$vicondirections_subway: "\eb0f";
$vicondirections_train: "\eb10";
$vicondirections_walk: "\eb11";
$viconhotel: "\eb12";
$viconlayers: "\eb13";
$viconlayers_clear: "\eb14";
$viconlocal_atm: "\eb15";
$viconlocal_attraction: "\eb16";
$viconlocal_bar: "\eb17";
$viconlocal_cafe: "\eb18";
$viconlocal_car_wash: "\eb19";
$viconlocal_convenience_store: "\eb1a";
$viconlocal_drink: "\eb1b";
$viconlocal_florist: "\eb1c";
$viconlocal_gas_station: "\eb1d";
$viconlocal_grocery_store: "\eb1e";
$viconlocal_hospital: "\eb1f";
$viconlocal_laundry_service: "\eb20";
$viconlocal_library: "\eb21";
$viconlocal_mall: "\eb22";
$viconlocal_movies: "\eb23";
$viconlocal_offer: "\eb24";
$viconlocal_parking: "\eb25";
$viconlocal_pharmacy: "\eb26";
$viconlocal_pizza: "\eb27";
$viconlocal_printshop: "\eb28";
$viconlocal_restaurant: "\eb29";
$viconlocal_shipping: "\eb2a";
$viconlocal_taxi: "\eb2b";
$viconlocation_history: "\eb2c";
$viconmap: "\eb2d";
$viconnavigation: "\eb2e";
$viconpin_drop: "\eb2f";
$viconrate_review: "\eb30";
$viconsatellite: "\eb31";
$viconstore_mall_directory: "\eb32";
$vicontraffic: "\eb33";
$vicondirections_run: "\eb34";
$viconadd_location: "\eb35";
$viconedit_location: "\eb36";
$viconnear_me: "\eb37";
$viconperson_pin_circle: "\eb38";
$viconzoom_out_map: "\eb39";
$viconrestaurant: "\eb3a";
$viconev_station: "\eb3b";
$viconstreetview: "\eb3c";
$viconsubway: "\eb3d";
$vicontrain: "\eb3e";
$vicontram: "\eb3f";
$vicontransfer_within_a_station: "\eb40";
$viconatm: "\eb41";
$viconcategory: "\eb42";
$viconnot_listed_location: "\eb43";
$vicondeparture_board: "\eb44";
$vicon360: "\eb45";
$viconedit_attributes: "\eb46";
$vicontransit_enterexit: "\eb47";
$viconfastfood: "\eb48";
$vicontrip_origin: "\eb49";
$viconcompass_calibration: "\eb4a";
$viconmoney: "\eb4b";
$viconapps: "\eb4c";
$viconarrow_back: "\eb4d";
$viconarrow_drop_down: "\eb4e";
$viconarrow_drop_down_circle: "\eb4f";
$viconarrow_drop_up: "\eb50";
$viconarrow_forward: "\eb51";
$viconcancel: "\eb52";
$viconcheck: "\eb53";
$viconexpand_less: "\eb54";
$viconexpand_more: "\eb55";
$viconfullscreen: "\eb56";
$viconfullscreen_exit: "\eb57";
$viconmenu: "\eb58";
$viconkeyboard_control: "\eb59";
$viconmore_vert: "\eb5a";
$viconrefresh: "\eb5b";
$viconunfold_less: "\eb5c";
$viconunfold_more: "\eb5d";
$viconarrow_upward: "\eb5e";
$viconsubdirectory_arrow_left: "\eb5f";
$viconsubdirectory_arrow_right: "\eb60";
$viconarrow_downward: "\eb61";
$viconfirst_page: "\eb62";
$viconlast_page: "\eb63";
$viconarrow_left: "\eb64";
$viconarrow_right: "\eb65";
$viconarrow_back_ios: "\eb66";
$viconarrow_forward_ios: "\eb67";
$viconadb: "\eb68";
$vicondisc_full: "\eb69";
$vicondo_not_disturb_alt: "\eb6a";
$vicondrive_eta: "\eb6b";
$viconevent_available: "\eb6c";
$viconevent_busy: "\eb6d";
$viconevent_note: "\eb6e";
$viconfolder_special: "\eb6f";
$viconmms: "\eb70";
$viconmore: "\eb71";
$viconnetwork_locked: "\eb72";
$viconphone_bluetooth_speaker: "\eb73";
$viconphone_forwarded: "\eb74";
$viconphone_in_talk: "\eb75";
$viconphone_locked: "\eb76";
$viconphone_missed: "\eb77";
$viconphone_paused: "\eb78";
$viconsim_card_alert: "\eb79";
$viconsms_failed: "\eb7a";
$viconsync_disabled: "\eb7b";
$viconsync_problem: "\eb7c";
$viconsystem_update: "\eb7d";
$vicontap_and_play: "\eb7e";
$viconvibration: "\eb7f";
$viconvoice_chat: "\eb80";
$viconvpn_lock: "\eb81";
$viconairline_seat_flat: "\eb82";
$viconairline_seat_flat_angled: "\eb83";
$viconairline_seat_individual_suite: "\eb84";
$viconairline_seat_legroom_extra: "\eb85";
$viconairline_seat_legroom_normal: "\eb86";
$viconairline_seat_legroom_reduced: "\eb87";
$viconairline_seat_recline_extra: "\eb88";
$viconairline_seat_recline_normal: "\eb89";
$viconconfirmation_number: "\eb8a";
$viconlive_tv: "\eb8b";
$viconondemand_video: "\eb8c";
$viconpersonal_video: "\eb8d";
$viconpower: "\eb8e";
$viconwc: "\eb8f";
$viconwifi: "\eb90";
$viconenhanced_encryption: "\eb91";
$viconnetwork_check: "\eb92";
$viconno_encryption: "\eb93";
$viconrv_hookup: "\eb94";
$vicondo_not_disturb_off: "\eb95";
$viconpriority_high: "\eb96";
$viconpower_off: "\eb97";
$vicontv_off: "\eb98";
$viconwifi_off: "\eb99";
$viconphone_callback: "\eb9a";
$viconpie_chart: "\eb9b";
$viconpie_chart_outlined: "\eb9c";
$viconbubble_chart: "\eb9d";
$viconmultiline_chart: "\eb9e";
$viconshow_chart: "\eb9f";
$viconcake: "\eba0";
$vicongroup: "\eba1";
$vicongroup_add: "\eba2";
$viconlocation_city: "\eba3";
$viconmood_bad: "\eba4";
$viconnotifications: "\eba5";
$viconnotifications_none: "\eba6";
$viconnotifications_off: "\eba7";
$viconnotifications_on: "\eba8";
$viconnotifications_paused: "\eba9";
$viconpages: "\ebaa";
$viconparty_mode: "\ebab";
$viconpeople_outline: "\ebac";
$viconperson: "\ebad";
$viconperson_add: "\ebae";
$viconperson_outline: "\ebaf";
$viconplus_one: "\ebb0";
$viconpublic: "\ebb1";
$viconschool: "\ebb2";
$viconshare: "\ebb3";
$viconwhatshot: "\ebb4";
$viconsentiment_dissatisfied: "\ebb5";
$viconsentiment_neutral: "\ebb6";
$viconsentiment_satisfied: "\ebb7";
$viconsentiment_very_dissatisfied: "\ebb8";
$viconsentiment_very_satisfied: "\ebb9";
$viconthumb_down_alt: "\ebba";
$viconthumb_up_alt: "\ebbb";
$viconcheck_box: "\ebbc";
$viconcheck_box_outline_blank: "\ebbd";
$viconradio_button_on: "\ebbe";
$viconstar: "\ebbf";
$viconstar_half: "\ebc0";
$viconstar_outline: "\ebc1";
$vicon3d_rotation: "\ebc2";
$viconaccessibility: "\ebc3";
$viconaccount_balance: "\ebc4";
$viconaccount_balance_wallet: "\ebc5";
$viconaccount_box: "\ebc6";
$viconaccount_circle: "\ebc7";
$viconadd_shopping_cart: "\ebc8";
$viconalarm_off: "\ebc9";
$viconalarm_on: "\ebca";
$viconandroid: "\ebcb";
$viconannouncement: "\ebcc";
$viconaspect_ratio: "\ebcd";
$viconassignment: "\ebce";
$viconassignment_ind: "\ebcf";
$viconassignment_late: "\ebd0";
$viconassignment_return: "\ebd1";
$viconassignment_returned: "\ebd2";
$viconassignment_turned_in: "\ebd3";
$viconautorenew: "\ebd4";
$viconbook: "\ebd5";
$viconbookmark: "\ebd6";
$viconbookmark_outline: "\ebd7";
$viconbug_report: "\ebd8";
$viconbuild: "\ebd9";
$viconcached: "\ebda";
$viconchange_history: "\ebdb";
$viconcheck_circle: "\ebdc";
$viconchrome_reader_mode: "\ebdd";
$viconcode: "\ebde";
$viconcredit_card: "\ebdf";
$vicondashboard: "\ebe0";
$vicondelete: "\ebe1";
$vicondescription: "\ebe2";
$vicondns: "\ebe3";
$vicondone: "\ebe4";
$vicondone_all: "\ebe5";
$viconexit_to_app: "\ebe6";
$viconexplore: "\ebe7";
$viconextension: "\ebe8";
$viconface: "\ebe9";
$viconfavorite: "\ebea";
$viconfavorite_outline: "\ebeb";
$viconfind_in_page: "\ebec";
$viconfind_replace: "\ebed";
$viconflip_to_back: "\ebee";
$viconflip_to_front: "\ebef";
$vicongroup_work: "\ebf0";
$viconhelp: "\ebf1";
$viconhighlight_remove: "\ebf2";
$viconhistory: "\ebf3";
$viconhome: "\ebf4";
$viconhourglass_empty: "\ebf5";
$viconhourglass_full: "\ebf6";
$viconhttps: "\ebf7";
$viconinfo: "\ebf8";
$viconinfo_outline: "\ebf9";
$viconinput: "\ebfa";
$viconinvert_colors_on: "\ebfb";
$viconlabel: "\ebfc";
$viconlabel_outline: "\ebfd";
$viconlanguage: "\ebfe";
$viconlaunch: "\ebff";
$viconlist: "\ec00";
$viconlock_open: "\ec01";
$viconlock_outline: "\ec02";
$viconloyalty: "\ec03";
$viconmarkunread_mailbox: "\ec04";
$viconnote_add: "\ec05";
$viconopen_in_browser: "\ec06";
$viconopen_with: "\ec07";
$viconpageview: "\ec08";
$viconperm_camera_mic: "\ec09";
$viconperm_contact_calendar: "\ec0a";
$viconperm_data_setting: "\ec0b";
$viconperm_device_information: "\ec0c";
$viconperm_media: "\ec0d";
$viconperm_phone_msg: "\ec0e";
$viconperm_scan_wifi: "\ec0f";
$viconpicture_in_picture: "\ec10";
$viconpolymer: "\ec11";
$viconpower_settings_new: "\ec12";
$viconreceipt: "\ec13";
$viconredeem: "\ec14";
$viconsearch: "\ec15";
$viconsettings: "\ec16";
$viconsettings_applications: "\ec17";
$viconsettings_backup_restore: "\ec18";
$viconsettings_bluetooth: "\ec19";
$viconsettings_cell: "\ec1a";
$viconsettings_display: "\ec1b";
$viconsettings_ethernet: "\ec1c";
$viconsettings_input_antenna: "\ec1d";
$viconsettings_input_component: "\ec1e";
$viconsettings_input_hdmi: "\ec1f";
$viconsettings_input_svideo: "\ec20";
$viconsettings_overscan: "\ec21";
$viconsettings_phone: "\ec22";
$viconsettings_power: "\ec23";
$viconsettings_remote: "\ec24";
$viconsettings_voice: "\ec25";
$viconshop: "\ec26";
$viconshop_two: "\ec27";
$viconshopping_basket: "\ec28";
$viconspeaker_notes: "\ec29";
$viconspellcheck: "\ec2a";
$viconstars: "\ec2b";
$viconsubject: "\ec2c";
$viconsupervisor_account: "\ec2d";
$viconswap_horiz: "\ec2e";
$viconswap_vert: "\ec2f";
$viconswap_vertical_circle: "\ec30";
$viconsystem_update_tv: "\ec31";
$vicontab: "\ec32";
$vicontab_unselected: "\ec33";
$viconthumb_down: "\ec34";
$viconthumb_up: "\ec35";
$viconthumbs_up_down: "\ec36";
$vicontoc: "\ec37";
$vicontoday: "\ec38";
$vicontoll: "\ec39";
$vicontrack_changes: "\ec3a";
$vicontranslate: "\ec3b";
$vicontrending_down: "\ec3c";
$vicontrending_neutral: "\ec3d";
$vicontrending_up: "\ec3e";
$viconverified_user: "\ec3f";
$viconview_agenda: "\ec40";
$viconview_array: "\ec41";
$viconview_carousel: "\ec42";
$viconview_column: "\ec43";
$viconview_day: "\ec44";
$viconview_headline: "\ec45";
$viconview_list: "\ec46";
$viconview_module: "\ec47";
$viconview_quilt: "\ec48";
$viconview_stream: "\ec49";
$viconview_week: "\ec4a";
$viconvisibility_off: "\ec4b";
$viconcard_membership: "\ec4c";
$viconcard_travel: "\ec4d";
$viconwork: "\ec4e";
$viconyoutube_searched_for: "\ec4f";
$viconeject: "\ec50";
$viconcamera_enhance: "\ec51";
$viconhelp_outline: "\ec52";
$viconreorder: "\ec53";
$viconzoom_in: "\ec54";
$viconzoom_out: "\ec55";
$viconhttp: "\ec56";
$viconevent_seat: "\ec57";
$viconflight_land: "\ec58";
$viconflight_takeoff: "\ec59";
$viconplay_for_work: "\ec5a";
$vicongif: "\ec5b";
$viconindeterminate_check_box: "\ec5c";
$viconoffline_pin: "\ec5d";
$viconall_out: "\ec5e";
$viconcopyright: "\ec5f";
$viconfingerprint: "\ec60";
$vicongavel: "\ec61";
$viconlightbulb_outline: "\ec62";
$viconpicture_in_picture_alt: "\ec63";
$viconimportant_devices: "\ec64";
$vicontouch_app: "\ec65";
$viconaccessible: "\ec66";
$viconcompare_arrows: "\ec67";
$vicondate_range: "\ec68";
$vicondonut_large: "\ec69";
$vicondonut_small: "\ec6a";
$viconline_style: "\ec6b";
$viconline_weight: "\ec6c";
$viconmotorcycle: "\ec6d";
$viconopacity: "\ec6e";
$viconpets: "\ec6f";
$viconpregnant_woman: "\ec70";
$viconrecord_voice_over: "\ec71";
$viconrounded_corner: "\ec72";
$viconrowing: "\ec73";
$vicontimeline: "\ec74";
$viconupdate: "\ec75";
$viconwatch_later: "\ec76";
$viconpan_tool: "\ec77";
$viconeuro_symbol: "\ec78";
$vicong_translate: "\ec79";
$viconremove_shopping_cart: "\ec7a";
$viconrestore_page: "\ec7b";
$viconspeaker_notes_off: "\ec7c";
$vicondelete_forever: "\ec7d";
$viconaccessibility_new: "\ec7e";
$viconcheck_circle_outline: "\ec7f";
$vicondelete_outline: "\ec80";
$vicondone_outline: "\ec81";
$viconmaximize: "\ec82";
$viconminimize: "\ec83";
$viconoffline_bolt: "\ec84";
$viconswap_horizontal_circle: "\ec85";
$viconaccessible_forward: "\ec86";
$viconcalendar_today: "\ec87";
$viconcalendar_view_day: "\ec88";
$viconlabel_important: "\ec89";
$viconrestore_from_trash: "\ec8a";
$viconsupervised_user_circle: "\ec8b";
$vicontext_rotate_up: "\ec8c";
$vicontext_rotate_vertical: "\ec8d";
$vicontext_rotation_angledown: "\ec8e";
$vicontext_rotation_angleup: "\ec8f";
$vicontext_rotation_down: "\ec90";
$vicontext_rotation_none: "\ec91";
$viconcommute: "\ec92";
$viconarrow_right_alt: "\ec93";
$viconwork_off: "\ec94";
$viconwork_outline: "\ec95";
$vicondrag_indicator: "\ec96";
$viconhorizontal_split: "\ec97";
$viconlabel_important_outline: "\ec98";
$viconvertical_split: "\ec99";
$viconvoice_over_off: "\ec9a";
$viconsegment: "\ec9b";
$viconcontact_support: "\ec9c";
$viconcompress: "\ec9d";
$viconfilter_list_alt: "\ec9e";
$viconexpand: "\ec9f";
$viconedit_off: "\eca0";
$vicon10k: "\eca1";
$vicon10mp: "\eca2";
$vicon11mp: "\eca3";
$vicon12mp: "\eca4";
$vicon13mp: "\eca5";
$vicon14mp: "\eca6";
$vicon15mp: "\eca7";
$vicon16mp: "\eca8";
$vicon17mp: "\eca9";
$vicon18mp: "\ecaa";
$vicon19mp: "\ecab";
$vicon1k: "\ecac";
$vicon1k_plus: "\ecad";
$vicon20mp: "\ecae";
$vicon21mp: "\ecaf";
$vicon22mp: "\ecb0";
$vicon23mp: "\ecb1";
$vicon24mp: "\ecb2";
$vicon2k: "\ecb3";
$vicon2k_plus: "\ecb4";
$vicon2mp: "\ecb5";
$vicon3k: "\ecb6";
$vicon3k_plus: "\ecb7";
$vicon3mp: "\ecb8";
$vicon4k_plus: "\ecb9";
$vicon4mp: "\ecba";
$vicon5k: "\ecbb";
$vicon5k_plus: "\ecbc";
$vicon5mp: "\ecbd";
$vicon6k: "\ecbe";
$vicon6k_plus: "\ecbf";
$vicon6mp: "\ecc0";
$vicon7k: "\ecc1";
$vicon7k_plus: "\ecc2";
$vicon7mp: "\ecc3";
$vicon8k: "\ecc4";
$vicon8k_plus: "\ecc5";
$vicon8mp: "\ecc6";
$vicon9k: "\ecc7";
$vicon9k_plus: "\ecc8";
$vicon9mp: "\ecc9";
$viconaccount_tree: "\ecca";
$viconadd_chart: "\eccb";
$viconadd_ic_call: "\eccc";
$viconadd_moderator: "\eccd";
$viconall_inbox: "\ecce";
$viconapproval: "\eccf";
$viconassistant_direction: "\ecd0";
$viconassistant_navigation: "\ecd1";
$viconbookmarks: "\ecd2";
$viconbus_alert: "\ecd3";
$viconcases: "\ecd4";
$viconcircle_notifications: "\ecd5";
$viconclosed_caption_off: "\ecd6";
$viconconnected_tv: "\ecd7";
$vicondangerous: "\ecd8";
$vicondashboard_customize: "\ecd9";
$vicondesktop_access_disabled: "\ecda";
$vicondrive_file_move_outline: "\ecdb";
$vicondrive_file_rename_outline: "\ecdc";
$vicondrive_folder_upload: "\ecdd";
$viconduo: "\ecde";
$viconexplore_off: "\ecdf";
$viconfile_download_done: "\ece0";
$viconrtt: "\ece1";
$vicongrid_view: "\ece2";
$viconhail: "\ece3";
$viconhome_filled: "\ece4";
$viconimagesearch_roller: "\ece5";
$viconlabel_off: "\ece6";
$viconlibrary_add_check: "\ece7";
$viconlogout: "\ece8";
$viconmargin: "\ece9";
$viconmark_as_unread: "\ecea";
$viconmenu_open: "\eceb";
$viconmp: "\ecec";
$viconoffline_share: "\eced";
$viconpadding: "\ecee";
$viconpanorama_photosphere: "\ecef";
$viconpanorama_photosphere_select: "\ecf0";
$viconperson_add_disabled: "\ecf1";
$viconphone_disabled: "\ecf2";
$viconphone_enabled: "\ecf3";
$viconpivot_table_chart: "\ecf4";
$viconprint_disabled: "\ecf5";
$viconrailway_alert: "\ecf6";
$viconrecommend: "\ecf7";
$viconremove_done: "\ecf8";
$viconremove_moderator: "\ecf9";
$viconrepeat_on: "\ecfa";
$viconrepeat_one_on: "\ecfb";
$viconreplay_circle_filled: "\ecfc";
$viconreset_tv: "\ecfd";
$viconsd: "\ecfe";
$viconshield: "\ecff";
$viconshuffle_on: "\ed00";
$viconspeed: "\ed01";
$viconstacked_bar_chart: "\ed02";
$viconstream: "\ed03";
$viconswipe: "\ed04";
$viconswitch_account: "\ed05";
$vicontag: "\ed06";
$viconthumb_down_off_alt: "\ed07";
$viconthumb_up_off_alt: "\ed08";
$vicontoggle_off: "\ed09";
$vicontoggle_on: "\ed0a";
$vicontwo_wheeler: "\ed0b";
$viconupload_file: "\ed0c";
$viconview_in_ar: "\ed0d";
$viconwaterfall_chart: "\ed0e";
$viconwb_shade: "\ed0f";
$viconwb_twighlight: "\ed10";
$viconhome_work: "\ed11";
$viconschedule_send: "\ed12";
$viconbolt: "\ed13";
$viconsend_and_archive: "\ed14";
$viconworkspaces_filled: "\ed15";
$viconfile_present: "\ed16";
$viconworkspaces_outline: "\ed17";
$viconfit_screen: "\ed18";
$viconsaved_search: "\ed19";
$viconstorefront: "\ed1a";
$viconamp_stories: "\ed1b";
$vicondynamic_feed: "\ed1c";
$viconeuro: "\ed1d";
$viconheight: "\ed1e";
$viconpolicy: "\ed1f";
$viconsync_alt: "\ed20";
$viconmenu_book: "\ed21";
$viconemoji_flags: "\ed22";
$viconemoji_food_beverage: "\ed23";
$viconemoji_nature: "\ed24";
$viconemoji_people: "\ed25";
$viconemoji_symbols: "\ed26";
$viconemoji_transportation: "\ed27";
$viconpost_add: "\ed28";
$viconpeople_alt: "\ed29";
$viconemoji_emotions: "\ed2a";
$viconemoji_events: "\ed2b";
$viconemoji_objects: "\ed2c";
$viconsports_basketball: "\ed2d";
$viconsports_cricket: "\ed2e";
$viconsports_esports: "\ed2f";
$viconsports_football: "\ed30";
$viconsports_golf: "\ed31";
$viconsports_hockey: "\ed32";
$viconsports_mma: "\ed33";
$viconsports_motorsports: "\ed34";
$viconsports_rugby: "\ed35";
$viconsports_soccer: "\ed36";
$viconsports: "\ed37";
$viconsports_volleyball: "\ed38";
$viconsports_tennis: "\ed39";
$viconsports_handball: "\ed3a";
$viconsports_kabaddi: "\ed3b";
$viconeco: "\ed3c";
$viconmuseum: "\ed3d";
$viconflip_camera_android: "\ed3e";
$viconflip_camera_ios: "\ed3f";
$viconcancel_schedule_send: "\ed40";
$viconapartment: "\ed41";
$viconbathtub: "\ed42";
$vicondeck: "\ed43";
$viconfireplace: "\ed44";
$viconhouse: "\ed45";
$viconking_bed: "\ed46";
$viconnights_stay: "\ed47";
$viconoutdoor_grill: "\ed48";
$viconsingle_bed: "\ed49";
$viconsquare_foot: "\ed4a";
$vicondouble_arrow: "\ed4b";
$viconsports_baseball: "\ed4c";
$viconattractions: "\ed4d";
$viconbakery_dining: "\ed4e";
$viconbreakfast_dining: "\ed4f";
$viconcar_rental: "\ed50";
$viconcar_repair: "\ed51";
$vicondinner_dining: "\ed52";
$vicondry_cleaning: "\ed53";
$viconhardware: "\ed54";
$viconliquor: "\ed55";
$viconlunch_dining: "\ed56";
$viconnightlife: "\ed57";
$viconpark: "\ed58";
$viconramen_dining: "\ed59";
$viconcelebration: "\ed5a";
$vicontheater_comedy: "\ed5b";
$viconbadge: "\ed5c";
$viconfestival: "\ed5d";
$viconicecream: "\ed5e";
$viconvolunteer_activism: "\ed5f";
$viconcontactless: "\ed60";
$vicondelivery_dining: "\ed61";
$viconbrunch_dining: "\ed62";
$vicontakeout_dining: "\ed63";
$viconac_unit: "\ed64";
$viconairport_shuttle: "\ed65";
$viconall_inclusive: "\ed66";
$viconbeach_access: "\ed67";
$viconbusiness_center: "\ed68";
$viconcasino: "\ed69";
$viconchild_care: "\ed6a";
$viconchild_friendly: "\ed6b";
$viconfitness_center: "\ed6c";
$vicongolf_course: "\ed6d";
$viconhot_tub: "\ed6e";
$viconkitchen: "\ed6f";
$viconpool: "\ed70";
$viconroom_service: "\ed71";
$viconsmoke_free: "\ed72";
$viconsmoking_rooms: "\ed73";
$viconspa: "\ed74";
$viconno_meeting_room: "\ed75";
$viconmeeting_room: "\ed76";
$vicongoat: "\ed77";
$vicon5g: "\ed78";
$viconad_units: "\ed79";
$viconadd_business: "\ed7a";
$viconadd_location_alt: "\ed7b";
$viconadd_road: "\ed7c";
$viconadd_to_drive: "\ed7d";
$viconaddchart: "\ed7e";
$viconadmin_panel_settings: "\ed7f";
$viconagriculture: "\ed80";
$viconalt_route: "\ed81";
$viconanalytics: "\ed82";
$viconanchor: "\ed83";
$viconanimation: "\ed84";
$viconapi: "\ed85";
$viconapp_blocking: "\ed86";
$viconapp_registration: "\ed87";
$viconapp_settings_alt: "\ed88";
$viconarchitecture: "\ed89";
$viconarrow_circle_down: "\ed8a";
$viconarrow_circle_up: "\ed8b";
$viconarticle: "\ed8c";
$viconattach_email: "\ed8d";
$viconauto_awesome: "\ed8e";
$viconauto_awesome_mosaic: "\ed8f";
$viconauto_awesome_motion: "\ed90";
$viconauto_delete: "\ed91";
$viconauto_fix_high: "\ed92";
$viconauto_fix_normal: "\ed93";
$viconauto_fix_off: "\ed94";
$viconauto_stories: "\ed95";
$viconbaby_changing_station: "\ed96";
$viconbackpack: "\ed97";
$viconbackup_table: "\ed98";
$viconbatch_prediction: "\ed99";
$viconbedtime: "\ed9a";
$viconbento: "\ed9b";
$viconbike_scooter: "\ed9c";
$viconbiotech: "\ed9d";
$viconblock_flipped: "\ed9e";
$viconbrowser_not_supported: "\ed9f";
$viconbuild_circle: "\eda0";
$viconcalculate: "\eda1";
$viconcampaign: "\eda2";
$viconcarpenter: "\eda3";
$viconcast_for_education: "\eda4";
$viconcharging_station: "\eda5";
$viconcheckroom: "\eda6";
$viconcircle: "\eda7";
$viconcleaning_services: "\eda8";
$viconclose_fullscreen: "\eda9";
$viconclosed_caption_disabled: "\edaa";
$viconcomment_bank: "\edab";
$viconconstruction: "\edac";
$viconcorporate_fare: "\edad";
$viconcountertops: "\edae";
$vicondesign_services: "\edaf";
$vicondirections_off: "\edb0";
$vicondirty_lens: "\edb1";
$vicondo_not_step: "\edb2";
$vicondo_not_touch: "\edb3";
$vicondomain_verification: "\edb4";
$vicondrive_file_move: "\edb5";
$vicondry: "\edb6";
$vicondynamic_form: "\edb7";
$viconeast: "\edb8";
$viconedit_road: "\edb9";
$viconelectric_bike: "\edba";
$viconelectric_car: "\edbb";
$viconelectric_moped: "\edbc";
$viconelectric_rickshaw: "\edbd";
$viconelectric_scooter: "\edbe";
$viconelectrical_services: "\edbf";
$viconelevator: "\edc0";
$viconengineering: "\edc1";
$viconescalator: "\edc2";
$viconescalator_warning: "\edc3";
$viconface_retouching_natural: "\edc4";
$viconfact_check: "\edc5";
$viconfamily_restroom: "\edc6";
$viconfence: "\edc7";
$viconfilter_alt: "\edc8";
$viconfire_extinguisher: "\edc9";
$viconflaky: "\edca";
$viconfood_bank: "\edcb";
$viconforward_to_inbox: "\edcc";
$viconfoundation: "\edcd";
$vicongrading: "\edce";
$vicongrass: "\edcf";
$viconhandyman: "\edd0";
$viconhdr_enhanced_select: "\edd1";
$viconhearing_disabled: "\edd2";
$viconhelp_center: "\edd3";
$viconhighlight_alt: "\edd4";
$viconhistory_edu: "\edd5";
$viconhistory_toggle_off: "\edd6";
$viconhome_repair_service: "\edd7";
$viconhorizontal_rule: "\edd8";
$viconhourglass_bottom: "\edd9";
$viconhourglass_disabled: "\edda";
$viconhourglass_top: "\eddb";
$viconhouse_siding: "\eddc";
$viconhvac: "\eddd";
$viconimage_not_supported: "\edde";
$viconinsights: "\eddf";
$viconintegration_instructions: "\ede0";
$viconios_share: "\ede1";
$viconlegend_toggle: "\ede2";
$viconlocal_fire_department: "\ede3";
$viconlocal_police: "\ede4";
$viconlocation_pin: "\ede5";
$viconlock_clock: "\ede6";
$viconlogin: "\ede7";
$viconmaps_ugc: "\ede8";
$viconmark_chat_read: "\ede9";
$viconmark_chat_unread: "\edea";
$viconmark_email_read: "\edeb";
$viconmark_email_unread: "\edec";
$viconmediation: "\eded";
$viconmedical_services: "\edee";
$viconmic_external_off: "\edef";
$viconmic_external_on: "\edf0";
$viconmicrowave: "\edf1";
$viconmilitary_tech: "\edf2";
$viconmiscellaneous_services: "\edf3";
$viconmodel_training: "\edf4";
$viconmonitor: "\edf5";
$viconmoped: "\edf6";
$viconmore_time: "\edf7";
$viconmotion_photos_off: "\edf8";
$viconmotion_photos_on: "\edf9";
$viconmotion_photos_paused: "\edfa";
$viconmultiple_stop: "\edfb";
$viconnat: "\edfc";
$viconnear_me_disabled: "\edfd";
$viconnext_plan: "\edfe";
$viconnight_shelter: "\edff";
$viconnightlight_round: "\ee00";
$viconno_cell: "\ee01";
$viconno_drinks: "\ee02";
$viconno_flash: "\ee03";
$viconno_food: "\ee04";
$viconno_meals: "\ee05";
$viconno_photography: "\ee06";
$viconno_stroller: "\ee07";
$viconno_transfer: "\ee08";
$viconnorth: "\ee09";
$viconnorth_east: "\ee0a";
$viconnorth_west: "\ee0b";
$viconnot_accessible: "\ee0c";
$viconnot_started: "\ee0d";
$vicononline_prediction: "\ee0e";
$viconopen_in_full: "\ee0f";
$viconoutbox: "\ee10";
$viconoutgoing_mail: "\ee11";
$viconoutlet: "\ee12";
$viconpanorama_horizontal_select: "\ee13";
$viconpanorama_vertical_select: "\ee14";
$viconpanorama_wide_angle_select: "\ee15";
$viconpayments: "\ee16";
$viconpedal_bike: "\ee17";
$viconpending: "\ee18";
$viconpending_actions: "\ee19";
$viconperson_add_alt: "\ee1a";
$viconperson_add_alt_1: "\ee1b";
$viconperson_remove: "\ee1c";
$viconperson_search: "\ee1d";
$viconpest_control: "\ee1e";
$viconpest_control_rodent: "\ee1f";
$viconphoto_camera_back: "\ee20";
$viconphoto_camera_front: "\ee21";
$viconplagiarism: "\ee22";
$viconplay_disabled: "\ee23";
$viconplumbing: "\ee24";
$viconpoint_of_sale: "\ee25";
$viconpreview: "\ee26";
$viconprivacy_tip: "\ee27";
$viconpsychology: "\ee28";
$viconpublic_off: "\ee29";
$viconpush_pin: "\ee2a";
$viconqr_code: "\ee2b";
$viconqr_code_scanner: "\ee2c";
$viconquickreply: "\ee2d";
$viconread_more: "\ee2e";
$viconreceipt_long: "\ee2f";
$viconrequest_quote: "\ee30";
$viconrice_bowl: "\ee31";
$viconroofing: "\ee32";
$viconroom_preferences: "\ee33";
$viconrule: "\ee34";
$viconrule_folder: "\ee35";
$viconrun_circle: "\ee36";
$viconscience: "\ee37";
$viconscreen_search_desktop: "\ee38";
$viconsearch_off: "\ee39";
$viconself_improvement: "\ee3a";
$viconsensor_door: "\ee3b";
$viconsensor_window: "\ee3c";
$viconset_meal: "\ee3d";
$viconshopping_bag: "\ee3e";
$viconsignal_cellular_0_bar: "\ee3f";
$viconsignal_wifi_0_bar: "\ee40";
$viconsmart_button: "\ee41";
$viconsnippet_folder: "\ee42";
$viconsoap: "\ee43";
$viconsource: "\ee44";
$viconsouth: "\ee45";
$viconsouth_east: "\ee46";
$viconsouth_west: "\ee47";
$viconsports_bar: "\ee48";
$viconstairs: "\ee49";
$viconstar_outline1: "\ee4a";
$viconstar_rate: "\ee4b";
$viconsticky_note_2: "\ee4c";
$viconstop_circle: "\ee4d";
$viconstroller: "\ee4e";
$viconsubscript: "\ee4f";
$viconsubtitles_off: "\ee50";
$viconsuperscript: "\ee51";
$viconsupport: "\ee52";
$viconsupport_agent: "\ee53";
$viconswitch_left: "\ee54";
$viconswitch_right: "\ee55";
$vicontable_rows: "\ee56";
$vicontable_view: "\ee57";
$vicontapas: "\ee58";
$vicontaxi_alert: "\ee59";
$vicontext_snippet: "\ee5a";
$vicontour: "\ee5b";
$vicontty: "\ee5c";
$viconumbrella: "\ee5d";
$viconupgrade: "\ee5e";
$viconverified: "\ee5f";
$viconvideo_settings: "\ee60";
$viconview_sidebar: "\ee61";
$viconwash: "\ee62";
$viconwater_damage: "\ee63";
$viconwest: "\ee64";
$viconwheelchair_pickup: "\ee65";
$viconwifi_calling: "\ee66";
$viconwifi_protected_setup: "\ee67";
$viconwine_bar: "\ee68";
$viconwrong_location: "\ee69";
$viconwysiwyg: "\ee6a";
$viconleaderboard: "\ee6b";
$vicon6_ft_apart: "\ee6c";
$viconbook_online: "\ee6d";
$viconclean_hands: "\ee6e";
$viconconnect_without_contact: "\ee6f";
$viconcoronavirus: "\ee70";
$viconelderly: "\ee71";
$viconfollow_the_signs: "\ee72";
$viconleave_bags_at_home: "\ee73";
$viconmasks: "\ee74";
$viconreduce_capacity: "\ee75";
$viconsanitizer: "\ee76";
$viconsend_to_mobile: "\ee77";
$viconsick: "\ee78";
$viconadd_task: "\ee79";
$viconcontact_page: "\ee7a";
$vicondisabled_by_default: "\ee7b";
$viconfacebook: "\ee7c";
$vicongroups: "\ee7d";
$viconluggage: "\ee7e";
$viconno_backpack: "\ee7f";
$viconno_luggage: "\ee80";
$viconoutbond: "\ee81";
$viconpublished_with_changes: "\ee82";
$viconrequest_page: "\ee83";
$viconstacked_line_chart: "\ee84";
$viconunpublished: "\ee85";
$viconalign_horizontal_center: "\ee86";
$viconalign_horizontal_left: "\ee87";
$viconalign_horizontal_right: "\ee88";
$viconalign_vertical_bottom: "\ee89";
$viconalign_vertical_center: "\ee8a";
$viconalign_vertical_top: "\ee8b";
$viconhorizontal_distribute: "\ee8c";
$viconqr_code_2: "\ee8d";
$viconupdate_disabled: "\ee8e";
$viconvertical_distribute: "\ee8f";

