<div class="content" style="padding: 5px;padding-top: 10px;">
    <form autocomplete="off">
        <div class="card">
            <div class="card-header card-image">
                <div class="row">
                    <div class="col text-left">Warranty Data <label class="lblNew">New</label></div>
                    <div class="col text-right"><i class="vp-clipboard-list-solid txtHead" style="font-size: 25px;"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div>
                            <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill"
                                        href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home"
                                        aria-selected="true">Order Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                                        href="#custom-tabs-three-profile" role="tab"
                                        aria-controls="custom-tabs-three-profile" aria-selected="false">Customer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill"
                                        href="#custom-tabs-three-messages" role="tab"
                                        aria-controls="custom-tabs-three-messages" aria-selected="false">Employee</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body border border-top-0" style="height: 500px;">
                            <div class="tab-content" id="custom-tabs-three-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel"
                                    aria-labelledby="custom-tabs-three-home-tab">
                                    <div class="row mb-3">
                                        <div class="col-12" style="padding-left: 160px;padding-right: 160px;">
                                            <div class="form-group">
                                                Serial No. :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="serialNo" class="form-control"
                                                        placeholder="Please enter Serial No.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a>
                                                    SKU :
                                                </a>
                                                <a style="margin-left:47%">
                                                    Branch :
                                                </a>
                                                <div class="input-group-append ">
                                                    <input type="text" name="SKU" class="form-control"
                                                        placeholder="Please enter SKU">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="text" name="branch" class="form-control"
                                                        placeholder="Please enter Branch">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-left: 160px;">
                                            <div class="form-group">
                                                Order No. :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="orderNo" class="form-control"
                                                        placeholder="Please enter Order No.">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                Order Line :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="orderLine" class="form-control"
                                                        value="Test" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                Order Dist No. :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="orderDistNo" class="form-control"
                                                        placeholder="Please enter Order Dist No.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                AMC Code :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="amcCode" class="form-control"
                                                        placeholder="Please enter AMC Code">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Expire Date Of Satisfy :&nbsp;
                                                <div class="input-group-append ">
                                                    <input id="expireDOS" name="input-name" type="text"
                                                        placeholder="DD-MM-YYYY" class="form-control" #ds="bsDatepicker"
                                                        bsDatepicker [bsValue]="date"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' ,containerClass:'theme-amway-blue'}"
                                                        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                    <button type="button" class="btn btn-xs btn-outline-dark"
                                                        mat-raised-button (click)="ds.toggle()"
                                                        [attr.aria-expanded]="ds.isOpen"
                                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                            class="vp-calendar text-black"
                                                            style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-right: 160px; ">
                                            <div class="form-group">
                                                Order Date :&nbsp;
                                                <div class="input-group-append">
                                                    <input id="orderDate" name="input-name" type="text"
                                                        placeholder="DD-MM-YYYY" class="form-control" #dw="bsDatepicker"
                                                        bsDatepicker [bsValue]="date"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' ,containerClass:'theme-dark-blue'}"
                                                        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                    <button type="button" class="btn btn-xs btn-outline-dark"
                                                        mat-raised-button (click)="dw.toggle()"
                                                        [attr.aria-expanded]="dp.isOpen"
                                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                            class="vp-calendar text-black"
                                                            style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                Order Line Sequence :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="orderLineSequence" class="form-control"
                                                        value="Test" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                Order Dist Name :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="orderDistName" class="form-control"
                                                        placeholder="Please enter Order Dist Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                EMC Code :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="emcCode" class="form-control"
                                                        placeholder="Please enter EMC Code">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Expire Date Of Warranty :&nbsp;
                                                <div class="input-group-append ">
                                                    <input id="expireDOW" name="input-name" type="text"
                                                        placeholder="DD-MM-YYYY" class="form-control" #dp="bsDatepicker"
                                                        bsDatepicker [bsValue]="date"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' ,containerClass:'theme-dark-blue'}"
                                                        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                    <button type="button" class="btn btn-xs btn-outline-dark"
                                                        mat-raised-button (click)="dp.toggle()"
                                                        [attr.aria-expanded]="dp.isOpen"
                                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                            class="vp-calendar text-black"
                                                            style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
                                    aria-labelledby="custom-tabs-three-profile-tab">
                                    <div class="row mb-3">


                                        <div class="col-6" style="padding-left: 160px;">
                                            <div class="form-group">
                                                Customer No. :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="customerNo" class="form-control"
                                                        placeholder="Please enter Customer No.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Customer Name :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="customerName" class="form-control"
                                                        placeholder="Please enter Customer Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a>
                                                    Customer Tel :
                                                </a>
                                                <a style="margin-left:31%">
                                                    Customer Mobile :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="customerTel" class="form-control"
                                                            placeholder="Please enter Customer Tel.">
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="customerMobile" class="form-control"
                                                            placeholder="Please enter Customer Mobile">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                Customer Address :&nbsp;
                                                <div class="input-group-append ">
                                                    <textarea id="customerAddress" name="customerAddress" rows="2"
                                                        cols="50" class="form-control"
                                                        placeholder="Please enter Customer Address"
                                                        style="width: 100%;resize:none;"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a>
                                                    Province :
                                                </a>
                                                <a style="margin-left:37%">
                                                    Post Code :
                                                </a>
                                                <div class="input-group-append ">
                                                    <select name="proVince" id="proVince" class="form-control"
                                                        style="width: 50%;">
                                                        <option value="0">Select Province</option>
                                                        <option value="1">ฺBangkok(กรุงเทพมหานคร)</option>
                                                        <option value="2">Krabi(กระบี่)</option>
                                                        <option value="3">Kanchanaburi(กาญจนบุรี)</option>
                                                        <option value="4">Kalasin(กาฬสินธุ์)</option>
                                                        <option value="5">Kamphaeng Phet(กำแพงเพชร)</option>
                                                        <option value="6">Khon Kaen(ขอนแก่น)</option>
                                                        <option value="7">Chanthaburi(จันทบุรี)</option>
                                                        <option value="8">Chachoengsao(ฉะเชิงเทรา)</option>
                                                        <option value="9">Chonburi(ชลบุรี)</option>
                                                        <option value="10">Chainat(ชัยนาท)</option>
                                                        <option value="11">Chaiyaphum(ชัยภูมิ)</option>
                                                        <option value="12">Chumphon(ชุมพร)</option>
                                                        <option value="13">Chiang Rai(เชียงราย)</option>
                                                        <option value="14">Chiang Mai(เชียงใหม่)</option>
                                                        <option value="15">Trang(ตรัง)</option>
                                                        <option value="16">Trat(ตราด)</option>
                                                        <option value="17">Tak(ตาก)</option>
                                                        <option value="18">Nakhon Nayok(นครนายก)</option>
                                                        <option value="19">Nakhon Pathom(นครปฐม)</option>
                                                        <option value="20">Nakhon Phanom(นครพนม)</option>
                                                        <option value="21">Nakhon Ratchasima(นครราชสีมา)</option>
                                                        <option value="22">Nakhon Si Thammarat(นครศรีธรรมราช)</option>
                                                        <option value="23">Nakhon Sawan(นครสวรรค์)</option>
                                                        <option value="24">Nonthaburi(นนทบุรี)</option>
                                                        <option value="25">Narathiwat(นราธิวาส)</option>
                                                        <option value="26">Nan(น่าน)</option>
                                                        <option value="27">Bueng Kan(บึงกาฬ)</option>
                                                        <option value="28">Buriram(บุรีรัมย์)</option>
                                                        <option value="29">Pathum Thani(ปทุมธานี)</option>
                                                        <option value="30">Prachuap Khiri Khan(ประจวบคีรีขันธ์)</option>
                                                        <option value="31">Prachinburi(ปราจีนบุรี)</option>
                                                        <option value="32">Pattani(ปัตตานี)</option>
                                                        <option value="33">Phra Nakhon Si Ayutthaya(พระนครศรีอยุธยา)
                                                        </option>
                                                        <option value="34">Phayao(พะเยา)</option>
                                                        <option value="35">Phang Nga(พังงา)</option>
                                                        <option value="36">Phatthalung(พัทลุง)</option>
                                                        <option value="37">Phichit(พิจิตร)</option>
                                                        <option value="38">Phitsanulok(พิษณุโลก)</option>
                                                        <option value="39">Phetburi(เพชรบุรี)</option>
                                                        <option value="40">Phetchabun(เพชรบูรณ์)</option>
                                                        <option value="41">Phrae(แพร่)</option>
                                                        <option value="42">Phuket(ภูเก็ต)</option>
                                                        <option value="43">Maha Sarakham(มหาสารคาม)</option>
                                                        <option value="44">Mukdahan(มุกดาหาร)</option>
                                                        <option value="45">Mae Hong Son(แม่ฮ่องสอน)</option>
                                                        <option value="46">Yasothon(ยโสธร)</option>
                                                        <option value="47">Yala(ยะลา)</option>
                                                        <option value="48">Roi Et(ร้อยเอ็ด)</option>
                                                        <option value="49">Ranong(ระนอง)</option>
                                                        <option value="50">Rayong(ระยอง)</option>
                                                        <option value="51">Ratchaburi(ราชบุรี)</option>
                                                        <option value="52">Lopburi(ลพบุรี)</option>
                                                        <option value="53">Lampang(ลำปาง)</option>
                                                        <option value="54">Lamphun(ลำพูน)</option>
                                                        <option value="55">Loei(เลย)</option>
                                                        <option value="56">Sisaket(ศรีสะเกษ)</option>
                                                        <option value="57">Sakon Nakhon(สกลนคร)</option>
                                                        <option value="58">Songkhla(สงขลา)</option>
                                                        <option value="59">Satun(สตูล)</option>
                                                        <option value="60">Samut Prakan(สมุทรปราการ)</option>
                                                        <option value="61">Samut Songkhram(สมุทรสงคราม)</option>
                                                        <option value="62">Samut Sakhon(สมุทรสาคร)</option>
                                                        <option value="63">Sa Kaeo(สระแก้ว)</option>
                                                        <option value="64">Saraburi(สระบุรี)</option>
                                                        <option value="65">Sing Buri(สิงห์บุรี)</option>
                                                        <option value="66">Sukhothai(สุโขทัย)</option>
                                                        <option value="67">Suphan Buri(สุพรรณบุรี)</option>
                                                        <option value="68">Surat Thani(สุราษฎร์ธานี)</option>
                                                        <option value="69">Surin(สุรินทร์)</option>
                                                        <option value="70">Nong Khai(หนองคาย)</option>
                                                        <option value="71">Nong Bua Lamphu(หนองบัวลำภู)</option>
                                                        <option value="72">Ang Thong(อ่างทอง)</option>
                                                        <option value="73">Amnat Charoen(อำนาจเจริญ)</option>
                                                        <option value="74">Udon Thani(อุดรธานี)</option>
                                                        <option value="75">Uttaradit(อุตรดิตถ์)</option>
                                                        <option value="76">Uthai Thani(อุทัยธานี)</option>
                                                        <option value="77">Ubon Ratchathani(อุบลราชธานี)</option>
                                                    </select>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="postCode" class="form-control"
                                                            placeholder="Please enter Post Code">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-right: 160px; ">

                                            <div class="form-group">
                                                Family Member :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="familyMember" class="form-control"
                                                        placeholder="Please enter Family Member">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Sale Dist No. :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="saleDistNo" class="form-control"
                                                        placeholder="Please enter Sale Dist No.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Sale Dist name :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="saleDistname" class="form-control"
                                                        placeholder="Please enter Sale Dist name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Warranty Card date :&nbsp;
                                                <div class="input-group-append ">
                                                    <input id="expireDOW" name="input-name" type="text"
                                                        placeholder="DD-MM-YYYY" class="form-control" #dc="bsDatepicker"
                                                        bsDatepicker [bsValue]="date"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' ,containerClass:'theme-dark-blue'}"
                                                        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                    <button type="button" class="btn btn-xs btn-outline-dark"
                                                        mat-raised-button (click)="dc.toggle()"
                                                        [attr.aria-expanded]="dp.isOpen"
                                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                            class="vp-calendar text-black"
                                                            style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                Actual Warranty ExpiryDate :&nbsp;
                                                <div class="input-group-append ">
                                                    <input id="expireDOW" name="input-name" type="text"
                                                        placeholder="DD-MM-YYYY" class="form-control"
                                                        #dwe="bsDatepicker" bsDatepicker [bsValue]="date"
                                                        [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY' ,containerClass:'theme-dark-blue'}"
                                                        style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                                    <button type="button" class="btn btn-xs btn-outline-dark"
                                                        mat-raised-button (click)="dwe.toggle()"
                                                        [attr.aria-expanded]="dp.isOpen"
                                                        style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
                                                            class="vp-calendar text-black"
                                                            style="font-size: 20px;"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel"
                                    aria-labelledby="custom-tabs-three-messages-tab">
                                    <div class="row mb-3">

                                        <div class="col-12" style="padding-left: 300px; padding-right: 300px;">
                                            <div class="form-group">
                                                หมายเลขซีเรียล :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="serialNo" class="form-control"
                                                        placeholder="กรุณากรอกหมายเลขซีเรียล" style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                เครื่องขายพนักงาน :&nbsp;
                                                <div class="input-group-append ">
                                                    <select name="employees" id="employees" class="form-control"
                                                        style="width: 100%;">
                                                        <option value="0">กรุณาเลือก </option>
                                                        <option value="1">Yes </option>
                                                        <option value="2">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                หมายเหตุ :&nbsp;
                                                <div class="input-group-append ">
                                                    <textarea id="note" name="note" rows="3" cols="50"
                                                        class="form-control" placeholder="กรุณากรอกหมายเหตุ"
                                                        style="width: 100%;resize:none;"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="button" name="btnSave" class="btn btn-amway btn-xs" (click)="onSave()"><i
                                class="vp-save-solid"></i>&nbsp;&nbsp; Save&nbsp;</button>&nbsp;
                        <button type="button" name="btnCancel" class="btn btn-outline-amway btn-xs"
                            (click)="onCancel()"><i class="vp-times-solid"></i> Cancel</button>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>