<div class="content" style="padding: 5px;padding-top: 10px;">
    <form>
        <div class="card">
            <div class="card-header card-image">
                <div class="row">
                    <div class="col text-left">Warranty Data <label class="lblView">View</label></div>
                    <div class="col text-right">
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row mb-3">

                    <div class="col">
                        <div >
                            <div>
                                <div>
                                    <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-three-home-tab"
                                                data-toggle="pill" href="#custom-tabs-three-home" role="tab"
                                                aria-controls="custom-tabs-three-home" aria-selected="true">Order
                                                Info</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill"
                                                href="#custom-tabs-three-profile" role="tab"
                                                aria-controls="custom-tabs-three-profile"
                                                aria-selected="false">Customer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill"
                                                href="#custom-tabs-three-messages" role="tab"
                                                aria-controls="custom-tabs-three-messages"
                                                aria-selected="false">Employee</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body border border-top-0" style="height: 500px;">
                                    <div class="tab-content" id="custom-tabs-three-tabContent">
                                        <div class="tab-pane fade show active" id="custom-tabs-three-home"
                                            role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                            <div class="row mb-3">

                                                <div class="col-12" style="padding-left: 160px;padding-right: 160px;">
                                                    <div class="form-group">
                                                        Serial No. :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="serialNo" class="form-control"
                                                                value="17247C08673592A" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <a>
                                                            SKU :
                                                        </a>
                                                        <a style="margin-left:47%">
                                                            Branch :
                                                        </a>
                                                        <div class="input-group-append ">
                                                            <input type="text" name="SKU" class="form-control"
                                                                value="121637A" readonly>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="text" name="branch" class="form-control"
                                                                value="22PS" readonly>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-6" style="padding-left: 160px;">
                                                    <div class="form-group">
                                                        Order No. :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="orderNo" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        Order Line :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="orderLine" class="form-control"
                                                                value="Test" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        Order Dist No. :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="orderDistNo" class="form-control"
                                                                value="2711647" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        AMC Code :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="amcCode" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Exprire Date Of Satisfy :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="exprireDOS" class="form-control"
                                                                value="14-05-2018" readonly>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6" style="padding-right: 160px; ">
                                                    <div class="form-group">
                                                        Order Date :&nbsp;
                                                        <div class="input-group-append ">
                                                            <div class="form-group" style="width:100%;">
                                                                <input type="text" name="orderDate" class="form-control"
                                                                    value="14-05-2018" readonly>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        Order Line Sequence :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="orderLineSequence"
                                                                class="form-control" value="Test" readonly>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        Order Dist Name :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="orderDistName" class="form-control"
                                                                value="ทดสอบระบบ-ทดสอบระบบ ไม่ต้องจัดส่งของ" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        EMC Code :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="emcCode" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Exprire Date Of Warranty :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="exprireDOW" class="form-control"
                                                                value="13-03-2019" readonly>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel"
                                            aria-labelledby="custom-tabs-three-profile-tab">
                                            <div class="row mb-3">


                                                <div class="col-6" style="padding-left: 160px;">
                                                    <div class="form-group">
                                                        Customer No. :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="customerNo" class="form-control"
                                                                value="3379519" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Customer Name :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="customerName" class="form-control"
                                                                value="คุณสุกัญญา ร่มศรีทอง" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <a>
                                                            Customer Tel :
                                                        </a>
                                                        <a style="margin-left:31%">
                                                            Customer Mobile :
                                                        </a>
                                                        <div class="input-group-append ">
                                                            <div class="input-group-append " style="width: 50%;">
                                                                <input type="text" name="customerTel"
                                                                    class="form-control" readonly>
                                                            </div>
                                                            &nbsp;&nbsp;
                                                            <div class="input-group-append " style="width: 50%;">
                                                                <input type="text" name="customerMobile"
                                                                    class="form-control" readonly>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        Customer Address :&nbsp;
                                                        <div class="input-group-append ">
                                                            <textarea id="customerAddress" name="customerAddress"
                                                                rows="2" cols="50" class="form-control" readonly
                                                                style="width: 100%;resize:none;"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <a>
                                                            Province :
                                                        </a>
                                                        <a style="margin-left:37%">
                                                            Post Code :
                                                        </a>
                                                        <div class="input-group-append ">
                                                            <div class="input-group-append " style="width: 50%;">
                                                                <input type="text" name="province" class="form-control"
                                                                    readonly>
                                                            </div>
                                                            &nbsp;&nbsp;
                                                            <div class="input-group-append " style="width: 50%;">
                                                                <input type="text" name="postCode" class="form-control"
                                                                    readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6" style="padding-right: 160px; ">

                                                    <div class="form-group">
                                                        Family Member :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="familyMember" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Sale Dist No. :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="saleDistNo" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Sale Dist name :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="saleDistname" class="form-control"
                                                                readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        Warranty Card date :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="warrantyCardDate"
                                                                class="form-control" value="06-08-2018" readonly>

                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        Actual Warranty ExpiryDate :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="actualWarrantyExpiryDate"
                                                                class="form-control" value="13-02-2019" readonly>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel"
                                            aria-labelledby="custom-tabs-three-messages-tab">
                                            <div class="row mb-3">

                                                <div class="col-12" style="padding-left: 300px; padding-right: 300px;">
                                                    <div class="form-group">
                                                        หมายเลขซีเรียล :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="serialNo" class="form-control"
                                                                readonly style="width: 100%;">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        เครื่องขายพนักงาน :&nbsp;
                                                        <div class="input-group-append ">
                                                            <input type="text" name="employees" class="form-control"
                                                                readonly style="width: 100%;">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        หมายเหตุ :&nbsp;
                                                        <div class="input-group-append ">
                                                            <textarea id="note" name="note" rows="3" cols="50"
                                                                class="form-control" readonly
                                                                style="width: 100%;resize:none;"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="button" name="btnCancel" class="btn btn-outline-amway btn-xs"
                            (click)="onClose()"><i class="vp-times-solid"></i> Close</button>
                    </div>

                </div>
            </div>
            <!-- </form> -->

        </div>