<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="content">
    <!--<div style="padding-left: 10px;padding-top:5px">New Repair Order</div>  -->
    <div class="content" style="padding: 5px;">
        <div class="card" style="margin-left: 5px;margin-right:5px;margin-top: 10px;">
            <div class="card-header card-image-5">
                <div class="row">
                    <div class="col text-left">เปิดใบรับซ่อม (Shopper & Premium)</div>
                    <!--<div class="col text-right"><i class="nav-icon vp-home-solid" style="font-size: 20px;"></i></div>-->
                </div>
            </div>
            <div class="card-body">  
                <div class="row mb-4 d-flex align-items-center justify-content-center">
                    <div class="col text-right">
                        SKU :
                    </div>
                    <div class="col">
                        <input type="text" id="" name="" class="form-control">
                    </div>
                    <div class="col text-left">
                        <button type="button" name="btnSearch" class="btn btn-outline-primary btn-xs"><i class="vp-search-solid"></i>
                            ตรวจสอบ</button>
                    </div>
                </div>
                
                <aside id="info-block">
                    <section class="file-marker">
                        <div>
                            <div class="box-title">
                                &nbsp;&nbsp;<a style="font-size:14px">สินค้า</a>&nbsp;&nbsp;
                            </div>
                            <div class="box-contents" style="text-align: left;padding: 10px;">
                                <div class="row mb-2 d-flex align-items-center justify-content-center">
                                    <div class="col-4 text-right">ประเภทสินค้า :</div>
                                    <div class="col text-left">กระทะด้ามจับขนาด 2,3 ลิตร</div>
                                </div>
                                <p></p>
                                <div class="row mb-2 d-flex align-items-center justify-content-center">
                                    <div class="col-4 text-right">SKU :</div>
                                    <div class="col text-left">101082</div>
                                </div>
                                <p></p>
                                 <div class="row mb-2 d-flex align-items-center justify-content-center">
                                    <div class="col-4 text-right">บริษัทผู้ผลิต :</div>
                                    <div class="col text-left">AMWAY</div>
                                </div>
                            </div>
                       </div>   
                    </section>
                </aside>
                <hr>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" name="btnSearch" class="btn btn-outline-amway btn-sm" (click)="confirmReceive()"><i
                                class="vp-check-solid"></i> ยืนยันการดำเนินรายการถัดไป</button>
                    </div>
                </div>                
            </div>
        </div>    
    </div>
</section>
</html> 
