
<!-- Begin Page Content -->
    <div class="container-fluid" style="padding-top: 10px;">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Dashboard : สำนักงานใหญ่</h1>
        <!-- Content Row -->
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>150</h3>

          <p>New Orders</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="javascript: void(0);" class="small-box-footer">More info <i class="vp-arrow-circle-right-solid"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="javascript: void(0);" class="small-box-footer">More info <i class="vp-arrow-circle-right-solid"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="javascript: void(0);" class="small-box-footer">More info <i class="vp-arrow-circle-right-solid"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="javascript: void(0);" class="small-box-footer">More info <i class="vp-arrow-circle-right-solid"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>

        <div class="row">

            <div class="col-xl-6 col-lg-5">
                <!-- Bar Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="m-0 text-gray-100">Bar Chart</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                           <app-bar></app-bar>
                        </div>                      
                    </div>
                </div>

                <!-- line Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h2 class="m-0 text-gray-100">Line Chart</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <app-line></app-line>
                        </div> 
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-6 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                      <h2 class="m-0 text-gray-100">Pie Chart</h2>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                       <app-pie></app-pie>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h2 class="m-0 text-gray-100">Donut Chart</h2>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                       <app-donut></app-donut>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Bar Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h2 class="m-0 text-gray-100">Multi Chart</h2>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                        <app-multi></app-multi>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    <!-- /.container-fluid -->