<div class="content" style="padding: 5px; padding-top: 20px">
  <form autocomplete="off" [formGroup]="addBlackWhiteForm">
    <div class="card">
      <div class="card-header card-image">
        <div class="row">
          <div class="col text-left">
            Black-White List Data <label class="lblNew">New</label>
          </div>
          <div class="col text-right">
            <i
              class="vp-clipboard-list-solid txtHead"
              style="font-size: 25px"
            ></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-6">
            <div class="form-group">
              Recieve No :&nbsp;
              <div class="input-group-append">
                <input
                  type="text"
                  formControlName="receiveNo"
                  class="form-control"
                  style="width: 100%"
                  placeholder="Please enter Recieve No"
                />
              </div>
            </div>
            <div class="form-group">
              <a style="color: red">*</a> SKU :&nbsp;
              <div class="input-group-append">
                <input
                  type="text"
                  formControlName="sku"
                  [(ngModel)]="this.formText.sku"
                  class="form-control"
                  style="width: 100%"
                  placeholder="Please enter SKU"
                />
              </div>
            </div>

            <div class="form-group">
              Type :&nbsp;
              <div class="input-group-append">
                <select formControlName="type" id="type" class="form-control">
                  <option value="B">Blacklist</option>
                  <option value="N">Whitelist</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-6" style="padding-left: 0px">
            <div class="form-group">
              Old Serial :&nbsp;
              <div class="input-group-append">
                <input
                  type="text"
                  formControlName="serialNoOld"
                  class="form-control"
                  style="width: 100%"
                  placeholder="Please enter Old Serial"
                />
              </div>
            </div>
            <div class="form-group">
              <a style="color: red">*</a> New Serial :&nbsp;
              <div class="input-group-append">
                <input
                  type="text"
                  formControlName="serialNoNew"
                  [(ngModel)]="this.formText.serialNoNew"
                  class="form-control"
                  style="width: 100%"
                  placeholder="Please enter New Serial"
                />
              </div>
            </div>
            <div class="form-group">
              <a style="color: red" >*</a> Record Date :&nbsp;
              <div class="input-group-append">
                <input
                  id="recordDate"
                  formControlName="recordDate"
                  type="text"
                  placeholder="DD-MM-YYYY"
                  class="form-control"
                  #dp="bsDatepicker"
                  bsDatepicker
                  [bsValue]="recordDate"
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'DD-MM-YYYY',
                    containerClass: 'theme-dark-blue'
                  }"
                  style="
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                  "
                />
                <button
                  type="button"
                  class="btn btn-xs btn-outline-dark"
                  mat-raised-button
                  (click)="dp.toggle()"
                  [attr.aria-expanded]="dp.isOpen"
                  style="
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                  "
                >
                  <i class="vp-calendar text-black" style="font-size: 20px"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div style="padding-top: 20px">
              <aside id="info-block">
                <section class="file-marker">
                  <div>
                    <div class="box-title">
                      &nbsp;&nbsp;<a style="font-size: 14px">Status</a
                      >&nbsp;&nbsp;
                    </div>
                    <div
                      class="box-contents"
                      style="text-align: left; padding: 10px"
                    >
                      <table>
                        <tr>
                          <td class="text-right">Status :&nbsp;</td>
                          <td>
                            <input id="statusY" type="radio" formControlName="status" value="Y" checked>&nbsp;Active
                            &nbsp;&nbsp;&nbsp;<input
                            id="statusN"
                              type="radio"
                              formControlName="status"
                              value="N"
                              
                            />&nbsp;Inactive
                          </td>
                        </tr>

                        <tr></tr>
                      </table>
                    </div>
                  </div>
                </section>
              </aside>
            </div>
          </div>
        </div>
        <hr />
        <div class="row bm-3">
          <div class="col text-right">
            <button
              type="button"
              name="btnSave"
              class="btn btn-amway btn-xs"
              (click)="onSave()"
            >
              <i class="vp-save-solid"></i>&nbsp;&nbsp; Save&nbsp;</button
            >&nbsp;
            <button
              type="button"
              name="btnCancel"
              class="btn btn-outline-amway btn-xs"
              (click)="onCancel()"
            >
              <i class="vp-times-solid"></i> Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
