<div class="sidebar">
    <nav class="mt-2">
     <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
      <li  class="nav-item has-treeview mb-0">
        <a class="nav-link" href="/pages/dashboard">
          <!--<i class="nav-icon fas fa-times"></i>-->
          <i class="nav-icon vp-chart-pie-solid"></i>&nbsp;
          <p>
            Dashboard
          </p>
        </a>        
      </li>
      <li  class="nav-item has-treeview mb-0">
        <a class="nav-link" href="/home" data-toggle="collapse">
          <!--<i class="nav-icon fas fa-times"></i>-->
          <i class="nav-icon vp-sitemap-solid"></i>&nbsp;
          <p>
            Master
            <i class="right vp-angle-left-solid"></i>
          </p>
        </a>    
        <ul class=" nav nav-treeview"  style="padding-left:10px">
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/employee">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Employee
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/fault">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Fault
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/part">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Part
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/branch/branch-index">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Branch
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/warranty/warranty-index">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Warranty
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/borrow">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Borrow
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/permission">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Permission
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/bom">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                BOM
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/calendar">
              <i class="nav-icon vp-calendar"></i>
              <p>
                Calendar
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/blackWhitelist">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Black-White List
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/vendor">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Vendor
              </p>
            </a>
          </li> 
          <li id="NavMenu_Master" class="nav-item NavMenuHide">
            <a class="nav-link" routerLink="/pages/config">
              <i class="nav-icon vp-cog-solid"></i>
              <p>
                Config
              </p>
            </a>
          </li> 
        </ul>
      </li> 
      <li  class="nav-item has-treeview mb-0">
        <a class="nav-link" href="/pages/counter">
          <!--<i class="nav-icon fas fa-times"></i>-->
          <i class="nav-icon vp-user-astronaut-solid "></i>
          <p>
            Counter
          </p>
        </a>        
      </li>
       <!--menu3-->
      <li  class="nav-item has-treeview mb-0">
        <a class="nav-link" href="/pages/inhomeService">
          <!--<i class="nav-icon fas fa-times"></i>-->
          <i class="nav-icon vp-home-solid"></i>
          <p>
            In-Home Service
          </p>
        </a>        
      </li> 
      <li  class="nav-item has-treeview mb-0">
        <a class="nav-link" href="/pages/maintenance">
          <!--<i class="nav-icon fas fa-times"></i>-->
          <i class="nav-icon vp-wrench-solid"></i>
          <p>
            Maintenance
          </p>
        </a>        
      </li> 
    </ul>
    <!--menu2 collapse-->
    
    </nav>
    <!-- /.sidebar-menu -->
  </div>