<aside id="info-block">
    <section class="file-marker">
        <div>
            <div class="box-title">
                &nbsp;&nbsp;<a style="font-size:14px">Pending Job</a>&nbsp;&nbsp;
            </div>
            <div class="box-contents" style="text-align: left;padding: 10px;">
                <form autocomplete="off">                   
                    <div class="row mb-2">
                        <div class="col-lg">
                            <div class="form-group">
                                <div class="row mb-3">
                                    <div class="col-lg-3 text-right">
                                        สาเหตุของการ Pending :&nbsp;
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes" checked>&nbsp;
                                                ติดต่อผู้ส่งซ่อม/ลูกค้าไม่ได้    
                                            </p> 
                                        </div>
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes">&nbsp;
                                                รออนุมัติ
                                            </p> 
                                        </div>
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes">&nbsp;
                                                รออะไหล่
                                            </p> 
                                        </div>
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes">&nbsp;
                                                รอผลตรวจวิเคราะห์
                                            </p> 
                                        </div>
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes">&nbsp;
                                                รอลูกค้าตัดสินใจ
                                            </p> 
                                        </div>
                                        <div class="row">
                                            <p class="text-left wrapper">
                                                <input type="radio" id="rdoDes"
                                                    name="rdoDes">&nbsp;
                                                อื่นๆ
                                            </p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 text-right">
                                        หมายเหตุ :&nbsp;
                                    </div>
                                    <div class="col">
                                        <textarea id="txtRemark" name="txtRemark" rows="3" cols="50" class="form-control" style="resize:none"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>
                </form>
            </div>    
        </div>
    </section>
</aside>