<div class="content" style="padding: 5px;padding-top: 10px;">
    <form>
        <div class="card">
            <div class="card-header card-image">
                <div class="row">
                    <div class="col text-left">Employee Data <label class="lblView">View</label></div>
                    <!-- <div class="col text-right"><i class="vp-clipboard-list-solid txtHead" style="font-size: 25px;"></i></div> -->
                </div>
            </div>
            <div class="card-body">
                <aside id="info-block">
                    <section class="file-marker">
                        <div>
                            <div class="box-title">
                                &nbsp;&nbsp;<a style="font-size:14px">Employee</a>&nbsp;&nbsp;
                            </div>
                            <div class="box-contents" style="text-align: left;padding: 10px;">
                               
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <div class="form-group">
                                                Employee Code :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="employeeCode" class="form-control" value="9990005" readonly style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Employee Name :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="employeeName" class="form-control" value="ชุมพฤนท์ ยุระยง" readonly style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                User Name :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="userName" class="form-control" readonly style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Email :&nbsp;
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 100%;">
                                                        <input type="text" name="email" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                Branch :&nbsp;
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 100%;">
                                                        <input type="text" name="branch" class="form-control" value="01HQ" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <aside id="info-block">
                                                <section class="file-marker">
                                                    <div>
                                                        <div class="box-title">
                                                            &nbsp;&nbsp;<a style="font-size:14px">Choose</a>&nbsp;&nbsp;
                                                        </div>
                                                        <div class="box-contents" style="text-align: left;padding: 10px;">
                                                            <table>
                                                                
                                                                <tr>
                                                                    <td class="text-right">
                                                                        Repair Capablitly :&nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <input type="radio" name="rdoCounter"disabled>&nbsp;Yes
                                                                        &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoCounter"
                                                                            disabled checked>&nbsp;No
                                                                    </td>
                                            
                                                                </tr>
                                                                <tr>
                    
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                                
                                            </aside>
                                            
                                            
                                            
                                           
                                        </div>
                                       
                                        <div class="col-6" style="padding-left: 0px;">
                                            
                                            <div class="form-group">
                                                Work For :&nbsp;
                                                <div class="input-group-append ">
                                                    <input type="text" name="workFor" class="form-control" readonly style="width: 100%;">
                                                    &nbsp;
                                                    <input type="text" name="workFor" class="form-control" readonly style="width: 100%;">
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <a>
                                                    Line Type :
                                                </a>
                                                <a style="margin-left:41%">
                                                    Assign :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="lineType" class="form-control" readonly style="width: 100%;">
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="assign" class="form-control" value="กิจธวัช ฤทธิ์ราวี" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                Supervisor :&nbsp;
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 100%;">
                                                        <input type="text" name="supervisor" class="form-control" value="กิจธวัช ฤทธิ์ราวี" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a>
                                                    Ext.Tel :
                                                </a>
                                                <a style="margin-left:41%">
                                                    Mobile :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="Tel" class="form-control"
                                                            readonly>
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="Mobile" class="form-control"
                                                            readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <a>
                                                    Join Date :
                                                </a>
                                                <a style="margin-left:38%">
                                                    Resign Date :
                                                </a>
                                                <div class="input-group-append ">
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="joinDate" value="16-06-1987" class="form-control"
                                                        readonly>
                                                    </div>
                                                    &nbsp;&nbsp;
                                                    <div class="input-group-append " style="width: 50%;">
                                                        <input type="text" name="regionDate" value="31-12-2018" class="form-control"
                                                            readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <br>
                                            <aside id="info-block">
                                                <section class="file-marker">
                                                    <div>
                                                        <div class="box-title">
                                                            &nbsp;&nbsp;<a style="font-size:14px">Status</a>&nbsp;&nbsp;
                                                        </div>
                                                        <div class="box-contents" style="text-align: left;padding: 10px;">
                                                            <table>
                                                                
                                                                <tr>
                                                                    <td class="text-right">
                                                                        Status :&nbsp;
                                                                    </td>
                                                                    <td>
                                                                        <input type="radio" name="rdoRepair" disabled>&nbsp;Active
                                                                &nbsp;&nbsp;&nbsp;<input type="radio" name="rdoRepair" disabled checked>&nbsp;Inactive
                                                                    </td>
                                            
                                                                </tr>
                                                                <tr>
                
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </section>
                                                
                                            </aside>
                                        
                                        </div>
                                    </div>
                            </div>    
                        </div>
                        </div>
                    </section>
                </aside>
                &nbsp;
                <aside id="info-block">
                    <section class="file-marker">
                        <div>
                            <div class="box-title">
                                &nbsp;&nbsp;<a style="font-size:14px">Role</a>&nbsp;&nbsp;
                            </div>
                            <div class="box-contents" style="text-align: left;padding: 10px;height: 520px;">
                                <!-- <input type="checkbox" name="subscribe" id="subscribe" /> -->
                                <div style="padding: 5px;">

                                    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                        
                                        <ng-container matColumnDef="select">
                                          <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                          [checked]="selection.hasValue() && isAllSelected()"
                                                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                                            </mat-checkbox>
                                          </th>
                                          <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                          (change)="$event ? selection.toggle(row) : null"
                                                          [checked]="selection.isSelected(row)">
                                            </mat-checkbox>
                                          </td>
                                        </ng-container>
                                      
                                        
                                        <ng-container matColumnDef="position">
                                          <th mat-header-cell *matHeaderCellDef> No. </th>
                                          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                                        </ng-container>
                                      
                                        
                                        <ng-container matColumnDef="name">
                                          <th mat-header-cell *matHeaderCellDef> Name </th>
                                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                        </ng-container>
                                      
                                        
                                        <ng-container matColumnDef="weight">
                                          <th mat-header-cell *matHeaderCellDef> Weight </th>
                                          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                                        </ng-container>
                                      
                                        
                                        <ng-container matColumnDef="symbol">
                                          <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                        </ng-container>
                                      
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"datatable
                                        [dtOptions]="dtOptions" class="row-border hover table-bordered table-striped display nowrap compact" style="width: 100%;"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            (click)="selection.toggle(row)">
                                        </tr>
                                      </table> -->
                                    <table datatable
                                    [dtOptions]="dtOptions" class="row-border hover table-bordered table-striped display nowrap compact" style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td >
                                                <input type="checkbox" name="subscribe" id="subscribe" disabled/> 
                                            </td>
                                         <td>Admin</td>
                                          <td></td>
                                          <td>Active</td>
                                          
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="subscribe" id="subscribe" disabled/>
                                            </td>
                                         <td>Counter</td>
                                          <td></td>
                                          <td>Active</td>
                                         
                                        </tr>

                                        <tr>
                                            <td>
                                               <input type="checkbox" name="subscribe" id="subscribe" disabled/>
                                            </td>
                                         <td>Maintenance</td>
                                          <td></td>
                                          <td>Active</td>
                                          
                                        </tr>
                                      </tbody>
                                    </table> 
                                </div>
                                
                            </div>    
                        </div>
                    </section>
                </aside>
                <hr>
                <div class="row mb-3">
                    <div class="col text-right">
                        <button type="button" name="btnCancel" class="btn btn-outline-amway btn-xs"
                        (click)="onClose()"><i class="vp-times-solid"></i> Close</button>
                    </div>
                </div>
                
                </div>
                
            </div>

       
